@using System.Web.Configuration
@using System.Web.UI.WebControls
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>@ViewBag.Title - Find apprenticeship training</title>
        <meta name="description" content="@ViewBag.Description"/>
        <meta name="keywords" content="employers,apprenticeship training course,apprenticeship training provider,apprenticeship standard,apprenticeship framework,trailblazer apprenticeship"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="format-detection" content="date=no" />
        <meta name="format-detection" content="address=no" />
        <link href="~/Content/dist/css/screen.min.css" rel="stylesheet"/>
        <link href="https://das-at-frnt-end.azureedge.net/css/main.css" rel="stylesheet"/>

        @* Favivon *@
        <meta name="msapplication-config" content="/Content/favicons/browserconfig.xml"/>

        <link rel="apple-touch-icon" sizes="57x57" href="/Content/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/Content/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/Content/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/Content/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/Content/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/Content/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/Content/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/Content/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/Content/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/Content/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/Content/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/Content/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/Content/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="manifest" href="/Content/favicons/manifest.json">
        <link rel="mask-icon" href="/Content/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/Content/favicons/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!--[if lt IE 9 ]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
            <script>
                 !function(a,b){function c(a,b){var c=a.createElement("p"),d=a.getElementsByTagName("head")[0]||a.documentElement;return c.innerHTML="x<style>"+b+"</style>",d.insertBefore(c.lastChild,d.firstChild)}function d(){var a=t.elements;return"string"==typeof a?a.split(" "):a}function e(a,b){var c=t.elements;"string"!=typeof c&&(c=c.join(" ")),"string"!=typeof a&&(a=a.join(" ")),t.elements=c+" "+a,j(b)}function f(a){var b=s[a[q]];return b||(b={},r++,a[q]=r,s[r]=b),b}function g(a,c,d){if(c||(c=b),l)return c.createElement(a);d||(d=f(c));var e;return e=d.cache[a]?d.cache[a].cloneNode():p.test(a)?(d.cache[a]=d.createElem(a)).cloneNode():d.createElem(a),!e.canHaveChildren||o.test(a)||e.tagUrn?e:d.frag.appendChild(e)}function h(a,c){if(a||(a=b),l)return a.createDocumentFragment();c=c||f(a);for(var e=c.frag.cloneNode(),g=0,h=d(),i=h.length;i>g;g++)e.createElement(h[g]);return e}function i(a,b){b.cache||(b.cache={},b.createElem=a.createElement,b.createFrag=a.createDocumentFragment,b.frag=b.createFrag()),a.createElement=function(c){return t.shivMethods?g(c,a,b):b.createElem(c)},a.createDocumentFragment=Function("h,f","return function(){var n=f.cloneNode(),c=n.createElement;h.shivMethods&&("+d().join().replace(/[\w\-:]+/g,function(a){return b.createElem(a),b.frag.createElement(a),'c("'+a+'")'})+");return n}")(t,b.frag)}function j(a){a||(a=b);var d=f(a);return!t.shivCSS||k||d.hasCSS||(d.hasCSS=!!c(a,"article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}mark{background:#FF0;color:#000}template{display:none}")),l||i(a,d),a}var k,l,m="3.7.3",n=a.html5||{},o=/^<|^(?:button|map|select|textarea|object|iframe|option|optgroup)$/i,p=/^(?:a|b|frameworkId|div|fieldset|h1|h2|h3|h4|h5|h6|i|label|li|ol|p|q|span|strong|style|table|tbody|td|th|tr|ul)$/i,q="_html5shiv",r=0,s={};!function(){try{var a=b.createElement("a");a.innerHTML="<xyz></xyz>",k="hidden"in a,l=1==a.childNodes.length||function(){b.createElement("a");var a=b.createDocumentFragment();return"undefined"==typeof a.cloneNode||"undefined"==typeof a.createDocumentFragment||"undefined"==typeof a.createElement}()}catch(c){k=!0,l=!0}}();var t={elements:n.elements||"abbr article aside audio bdi canvas data datalist details dialog figcaption figure footer header hgroup main mark meter nav output picture progress section summary template time video",version:m,shivCSS:n.shivCSS!==!1,supportsUnknownElements:l,shivMethods:n.shivMethods!==!1,type:"default",shivDocument:j,createElement:g,createDocumentFragment:h,addElements:e};a.html5=t,j(b),"getFrameworks"==typeof module&&module.exports&&(module.exports=t)}("undefined"!=typeof window?window:this,document);
            </script>
        <![endif]-->
@Scripts.Render("~/bundles/header")
@Html.Partial("_Analytics")
    </head>
    <body id="@ViewBag.PageID">
        <script>
            document.body.className = ((document.body.className)
                ? document.body.className + ' js-enabled'
                : 'js-enabled');
        </script>
        @Html.Action("Header", "Shared")

        <div class="container body-content">
            @RenderBody()
        </div>

        @Html.Action("Footer", "Shared")

        @Html.Partial("_ScriptsFooter")

        @RenderSection("Scripts", required: false)

    </body>
</html>
