@model Sfa.Eds.Das.Web.Models.SearchResults
@{
    ViewBag.Title = "Search Results";
}

<main id="content" role="main">
    @Html.ActionLink("Search", "Index", null, new {@class = "link-back"})
    <div id="results" class="grid-row">

        <div class="column-two-thirds">

            <div class="hgroup">

                <h1 class="heading-xlarge">
                    <span class="heading-secondary">Apprenticeship programmes</span>
                    Search results
                </h1>

            </div>
            <h2 class="heading-large">
                Apprenticeship pathways
            </h2>
            <p>
                There are @Model.TotalResults  apprenticeship pathways matching your search for @Model.SearchTerm.
            </p>
            <ol class="frameworkResults">
                @foreach (var item in Model.Results)
                {
                    <li class="result">
                        <div class="column details">
                            <h2 class="heading-medium">
                                @Html.ActionLink(item.Title, "StandardDetail", new { @id = item.StandardId })
                            </h2>
                            <dl>
                                <dt class="entryLevel">Entry Level</dt>
                                <dd class="entryLevel">
                                    <span>@item.NotionalEntryLevel</span>
                                </dd>
                                <dt class="endLevel">End Level</dt>
                                <dd class="endLevel">
                                    <span>@item.NotionalEndLevel</span>
                                </dd>
                                <dt class="min_length">Minimum length</dt>
                                <dd class="min_length">
                                    <span>@item.MinimumLength</span>
                                    years
                                </dd>
                            </dl>
                        </div>
                    </li>
                }
            </ol>

        </div>

        <div class="column-third">

            <div class="related-container">
                <aside class="related" id="related">
                    <div class="inner group related-subsection">

                        <h2 id="parent-subsection">Help</h2>

                        <ul class="link-list">
                            <li>
                                <a href="help_frameworks.html">What is a framework</a>
                            </li>
                            <li>
                                <a href="help_standards.html">What is a standard</a>
                            </li>
                        </ul>

                    </div>
                    <div class="inner group">
                        <a class="return-to-top" href="#content">Return to top ↑</a>
                    </div>
                </aside>
            </div>

        </div>
    </div>
</main>