@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.Shared.Components.ViewComponents.Fat
@model Sfa.Das.Sas.Shared.Components.ViewComponents.Fat.FatSearchResultsViewModel
@inject Sfa.Das.Sas.Shared.Components.Domain.Interfaces.ICssClasses CssClasses


@if (Model.TotalResults > 0)
{
    <p>There are @Model.TotalResults apprenticeships matching your search for '@Model.SearchQuery.Keywords'.</p>
    <ol class="@CssClasses.SearchList">
        @foreach (var result in Model.SearchResults)
        {
            <partial name="Components/FatSearchResults/_searchResultsItem" for="@result" />
        }
    </ol>
}
else
{
    <p>Sorry, there is currently no apprenticeship training for '<span class="@CssClasses.UtilitiesCss.FontWeightBold">@Model.SearchQuery.Keywords</span>'.</p>

    <h3 class="@CssClasses.HeadingSmall">Try a new search</h3>
    @await Component.InvokeAsync("FatSearch", new { fatSearchRoute = "/employer/find-apprenticeships" })
}

@if (Model.TotalResults > Model.SearchQuery.ResultsToTake)
{

    <ul class="das-pagination das-pagination--employer">

        <li class="das-pagination__list-item">
        @if (Model.SearchQuery.Page > 1)
        {
            <a class="das-pagination__link das-pagination__link--previous" id="link-pagination-previous" href="@await GetPaginationBackLinkHref(Model.SearchQuery.Page, Model.SearchQuery.Keywords)">Previous page <span class="das-pagination__caption">@(Model.SearchQuery.Page - 1) of @Model.LastPage</span></a>
        }
        </li>


        @if (Model.SearchQuery.Page < Model.LastPage)
        {
            <li class="das-pagination__list-item">
                <a class="das-pagination__link das-pagination__link--next" id="link-pagination-apprentice-next" href="@await GetPaginationNextLinkHref(Model.SearchQuery.Page,Model.SearchQuery.Keywords)">Next page <span class="das-pagination__caption">@(Model.SearchQuery.Page + 1) of @Model.LastPage</span></a>
            </li>
        }

    </ul>
}


@functions
{

    Task<string> GetPaginationBackLinkHref(int currentPage, string keywords)
    {
        var path = this.ViewContext.HttpContext.Request.Path;

        var href = $"{path}?keywords={keywords}&page={currentPage - 1}";
        return Task.FromResult(href);
    }

    Task<string> GetPaginationNextLinkHref(int currentPage, string keywords)
    {
        var path = this.ViewContext.HttpContext.Request.Path;

        var href = $"{path}?keywords={keywords}&page={currentPage + 1}";
        return Task.FromResult(href);
    }

}