@using Sfa.Das.Sas.Web.ViewModels
@model DashboardViewModel

@{
    ViewBag.Title = "My Dashboard";
}

<main id="content" class="standard-detail">
    <p class="small-btm-margin">
        @Html.ActionLink("Back", "Start", "Start", null, new {@class = "link-back"})
    </p>

    <h1 class="heading-xlarge">
        @Model.Title
    </h1>

    @DisplayEmptyShortlistMessage(Model)

    @DisplayShortListTable(Model.Standards?.ToList(), Model.Frameworks?.ToList())
</main>

@helper DisplayEmptyShortlistMessage(DashboardViewModel viewModel)
{
    var emptyMessageClasses = "notice";

    if ((viewModel.Standards?.Any() ?? false) || (viewModel.Frameworks?.Any() ?? false))
    {
        emptyMessageClasses += " hidden";
    }

    <p id="empty-shortlist-message" class=@emptyMessageClasses>
        You have no apprenticeship training shortlisted.&nbsp;
        @Html.ActionLink("Search for apprenticeship training", "Search", "Apprenticeship")
    </p>
}

@helper DisplayShortListTable(
    ICollection<ShortlistStandardViewModel> standards,
    ICollection<ShortlistFrameworkViewModel> frameworks)
{
    if ((!standards?.Any() ?? false) && (!frameworks?.Any() ?? false))
    {
        return;
    }

    <table id="shortlist">
        <thead>
        <tr>
            <th>Apprenticeship training</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            @GetShortlistStandardItemRows(standards)
            @GetShortlistFrameworkItemRows(frameworks)
        </tbody>
    </table>
}

@helper GetShortlistStandardItemRows(IEnumerable<ShortlistStandardViewModel> standards)
{
    foreach (var standard in standards)
    {
        var standardName = $"{standard.Title} (level {standard.Level})";

        <tr class="standard-item apprenticeship-item">
            <td class="standard-title apprenticeship-title">@Html.ActionLink(standardName, "Standard", "Apprenticeship", new {id = standard.Id}, null)</td>
            <td>@Html.ActionLink("Delete", "RemoveStandard", "ShortList",
                                            new {id = standard.Id},
                                            new {@class= "standard-delete-link", data_apprenticeship = standard.Id, rel = "nofollow"})</td>
        </tr>
        foreach (var provider in standard.Providers)
        {
            var providerAddress = $"{provider.Address.Address1} {provider.Address.Address2} {provider.Address.Town} {provider.Address.County} {provider.Address.Postcode}";

            <tr class="provider-item">
                <td class="provider-title">
                    Provider -> 
                    @Html.ActionLink(provider.Name, "Detail", "Provider", new {providerId = provider.Id, locationId = provider.LocationId, standardCode = standard.Id}, null)
                    @providerAddress
                </td>
                <td>
                    @Html.ActionLink("Delete", "RemoveStandardProvider", "ShortList",
                        new { apprenticeshipId = standard.Id, providerId = provider.Id, locationId = provider.LocationId },
                        new {@class= "provider-delete-link", data_provider = provider.Id, data_apprenticeship = standard.Id, data_location = provider.LocationId, rel = "nofollow" })</td>
            </tr>
        }
    }
}

@helper GetShortlistFrameworkItemRows(IEnumerable<ShortlistFrameworkViewModel> frameworks)
{
    foreach (var framework in frameworks)
    {
        var frameworkName = $"{framework.Title} (level {framework.Level})";

            <tr class="framework-item apprenticeship-item">
                <td class="framework-title apprenticeship-title">@Html.ActionLink(frameworkName, "Framework", "Apprenticeship", new { id = framework.Id }, null)</td>
                <td>
                    @Html.ActionLink("Delete", "RemoveFramework", "ShortList",
                                                new { id = framework.Id },
                                                new { @class = "framework-delete-link", data_apprenticeship = framework.Id, rel = "nofollow" })
            </td>
        </tr>
    }
}
