@using Sfa.Das.Sas.Web.ViewModels
@model DashboardViewModel

@{
    ViewBag.Title = "My Dashboard";
}

<main id="content" class="standard-detail">
    <p class="small-btm-margin">
        @Html.ActionLink("Back", "Start", "Start", null, new {@class = "link-back"})
    </p>

    <h1 class="heading-xlarge">
        @Model.Title
    </h1>

    @DisplayEmptyShortlistMessage(Model)

    @DisplayStandardsShortListTable(Model.Standards.ToList())
</main>

@helper DisplayEmptyShortlistMessage(DashboardViewModel viewModel)
{
    if (viewModel.Standards.Any())
    {
        return;
    }

    <p id="empty-shortlist-message" class="notice">
        You have no apprenticeship training shortlisted.&nbsp;
        @Html.ActionLink("Search for apprenticeship training", "Search", "Apprenticeship")
    </p>
}

@helper DisplayStandardsShortListTable(ICollection<ShortlistStandardViewModel> standards)
{
    if (!standards.Any())
    {
        return;
    }

    <table id="standards-shortlist">
        <thead>
        <tr>
            <th>Apprenticeship training</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @GetShortlistItemRows(standards)
        </tbody>
    </table>
}

@helper GetShortlistItemRows(IEnumerable<ShortlistStandardViewModel> standards)
{
    foreach (var standard in standards)
    {
        var standardName = $"{standard.Title} (level {standard.Level})";

        <tr class="standard-item">
            <td class="standard-title">@Html.ActionLink(standardName, "Standard", "Apprenticeship", new {id = standard.Id}, null)</td>
            <td>@Html.ActionLink("Delete", "RemoveStandard", "ShortList",
                                            new {id = standard.Id},
                                            new {@class= "standard-delete-link", data_apprenticeship = standard.Id, rel = "nofollow"})</td>
        </tr>
        foreach (var provider in standard.Providers)
        {
            var providerAddress = $"{provider.Address.Address1} {provider.Address.Address2} {provider.Address.Town} {provider.Address.County} {provider.Address.Postcode}";

            <tr class="provider-item">
                <td class="provider-title">
                    Provider -> 
                    @Html.ActionLink(provider.Name, "Detail", "Provider", new {providerId = provider.Id, locationId = provider.LocationId, standardCode = standard.Id}, null)
                    @providerAddress
                </td>
                <td>@Html.ActionLink("Delete", "RemoveProvider", "ShortList",
                                                new { apprenticeshipId = standard.Id, providerId = provider.Id, locationId = provider.LocationId },
                                                new {@class= "provider-delete-link", data_provider = provider.Id, data_apprenticeship = standard.Id, data_location = provider.LocationId, rel = "nofollow" })</td>
            </tr>
        }
}
}
