@using Sfa.Das.Sas.Web.ViewModels
@model DashboardViewModel

@{
    ViewBag.Title = "My Dashboard";
}

<main id="content" class="standard-detail">
    <p class="small-btm-margin">
        @Html.ActionLink("Back", "Start", "Start", null, new {@class = "link-back"})
    </p>

    <h1 class="heading-xlarge">
        @Model.Title
    </h1>

    @DisplayEmptyShortlistMessage(Model)

    @DisplayStandardsShortListTable(Model.Standards)
</main>

@helper DisplayEmptyShortlistMessage(DashboardViewModel viewModel)
{
    if (viewModel.Standards.Any())
    {
        return;
    }

    <p id="empty-shortlist-message" class="notice">
        You have no apprenticeship training shortlisted.&nbsp;
        @Html.ActionLink("Search for apprenticeship training", "Search", "Apprenticeship")
    </p>
}

@helper DisplayStandardsShortListTable(IEnumerable<ShortlistStandardViewModel> standards)
{
    var standardViewModels = standards as ShortlistStandardViewModel[] ?? standards.ToArray();

    if (!standardViewModels.Any())
    {
        return;
    }

    <table id="standards-shortlist">
        <thead>
        <tr>
            <th>Apprenticeship training</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @GetShortlistItemRows(standardViewModels)
        </tbody>
    </table>
}

@helper GetShortlistItemRows(IEnumerable<ShortlistStandardViewModel> standards)
{
    foreach (var standard in standards)
    {
        var standardName = $"{standard.Title} (level {standard.Level})";

        <tr>
            <td>@Html.ActionLink(standardName, "Standard", "Apprenticeship", new {id = standard.Id}, new {rel="nofollow"})</td>
            <td>@Html.ActionLink("Delete", "RemoveStandard", "ShortList", new { id = standard.Id }, new { rel = "nofollow" })</td>
        </tr>
    }
}
