@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewComponents.TrainingProvider.Search.TrainingProviderSearchViewModel
@inject ICssViewModel CssViewModel;

<form action="@Model.SearchRoute">
    <div class="grid-row grid-row--align-bottom">
        <div class="grid-column-two-fifths">
            <div class="@(CssViewModel.FormCss.FormGroup)">
                <p class="u-!-margin-top-0">Please enter the postcode for where the apprentice will work</p>
                <label asp-for="Postcode" class="@(CssViewModel.VisuallyHidden)">Use the postcode for where the apprentice will work.</label>
                <input class="@(CssViewModel.FormCss.Input)" asp-for="Postcode" type="search" placeholder="Enter Postcode...">
                <span asp-validation-for="Postcode" class="error-message"></span>
            </div>
        </div>
        <div class="grid-column-two-fifths">
            <div class="@(CssViewModel.FormCss.FormGroup)">
                <p class="u-!-margin-top-0">As an employer, is your pay bill more than £3 million per year? </p>
                <div class="@CssViewModel.FormCss.RadioGroupInline">
                    <div class="@(CssViewModel.FormCss.RadioItem)">
                        <input class="@(CssViewModel.FormCss.Input) @(CssViewModel.FormCss.RadioInput)" type="radio" asp-for="IsLevyPayer" value="true" id="LevyPayerYes">
                        <label class="@(CssViewModel.FormCss.Label) @(CssViewModel.FormCss.RadioLabel)" for="LevyPayerYes">Yes</label>
                    </div>
                    <div class="@(CssViewModel.FormCss.RadioItem)">
                        <input class="@(CssViewModel.FormCss.Input) @(CssViewModel.FormCss.RadioInput)" type="radio" asp-for="IsLevyPayer" value="false" id="LevyPayerNo">
                        <label class="@(CssViewModel.FormCss.Label) @(CssViewModel.FormCss.RadioLabel)" for="LevyPayerNo">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-column-one-fifth">
            <div class="@(CssViewModel.FormCss.FormGroup)">
                <input type="hidden" asp-for="ApprenticeshipId" />
                <input type="hidden" asp-for="Keywords" />
                <button class="@(CssViewModel.Button)" type="submit" id="employer-provider-search">Search</button>
            </div>
        </div>
    </div>
</form>