@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewComponents.TrainingProvider.Search.TrainingProviderSearchViewModel
@inject ICssViewModel CssViewModel;
    <form action="@Model.SearchRoute">

        <div class="@(CssViewModel.FormCss.FormGroup)">
            <label>Use the postcode for where the apprentice will work.</label>
            <input class="@(CssViewModel.FormCss.Input)" asp-for="Postcode" type="search" placeholder="Enter Postcode...">
            <span asp-validation-for="Postcode" class="error-message"></span>
        </div>
        <div class="@(CssViewModel.FormCss.FormGroup) radios">
            <p>Is your organisation a levy-payer?</p>
            <div class="radios__item">
                <input class="@(CssViewModel.FormCss.Input) @CssViewModel.FormCss.RadioInline" type="radio" asp-for="IsLevyPayer" value="true" id="LevyPayerYes">
                <label class="label radios__label" for="LevyPayerYes">Yes </label>
            </div>
            <div class="radios__item">
                <input class="@(CssViewModel.FormCss.Input) @CssViewModel.FormCss.RadioInline" type="radio" asp-for="IsLevyPayer" value="false" id="LevyPayerNo">
                <label class="label radios__label" for="LevyPayerNo">No</label>
            </div>
        </div>
        <div class="das-form-group-inline__button-wrap">
            <input type="hidden" asp-for="ApprenticeshipId" />
            <input type="hidden" asp-for="Keywords"/>
            <button class="@(CssViewModel.Button)" type="submit">Search</button>
        </div>

    </form>