@using System.Web.UI.WebControls
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title - Employer Apprenticeship Search</title>
    <meta name="description" content="Description to go here" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />

    <link href="~/Content/dist/css/screen.min.css" rel="stylesheet" />    
    @Html.Partial("_Analytics")
</head>

    <body>

        @Html.Partial("_Header")

    <div class="container body-content">
        @RenderBody()
    </div>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        @Html.Partial("_Footer")
        @Html.Partial("_ScriptsFooter")

    </body>
</html>
