@model Sfa.Das.Sas.Web.ViewModels.ProviderFrameworkSearchResultViewModel

<div class="result-message">

    @if (Model.HasError)
    {
        @RenderErrorMessage()
    }
    else if (Model.ShowNationalProviders && Model.TotalResults == 0)
    {
        @RenderZeroNationalProviders()
    }
    else if (Model.ShowAll && Model.TotalResults == 1)
    {
        @RenderAllOneResults()
    }
    else if (Model.ShowAll && Model.TotalResults != 1)
    {
        @RenderAllResults()
    }
    else if (Model.TotalResults == 0)
    {
        @RenderZeroResult();
    }
    else if (Model.TotalResults == 1)
    {
        @RenderMessageOneResult()
    }
    else
    {
        @RenderMessage()
    }
</div>

@helper  RenderErrorMessage()
{
    <p>
        There was a problem performing a search. Try again later.
    </p>
}

@helper  RenderZeroNationalProviders()
{
    <p id="standard-provider-search-message">
        Sorry, there are currently no results for the filters you applied'.
    </p>
    <div>
        <p>You can:</p>
        <ul class="list list-bullet">
            <li class="return-search-results">@Html.ActionLink("return to your apprenticeship training search results", "StandardResults", "Provider", new { @apprenticeshipid = @Model.FrameworkId, @postcode = @Model.PostCode, @keywords = @Model.SearchTerms }, new { })</li>
            <li class="start-again">@Html.ActionLink("start your keyword search again", "Search", "Apprenticeship")</li>
        </ul>
    </div>
}

@helper  RenderAllOneResults()
{
    <p id="standard-provider-search-message">
        There is <b id="total-results">@Model.TotalResults</b> training provider for <b id="standard-name">@Model.Title level @Model.FrameworkLevel</b> in England.
    </p>
    <p>
        Results are ordered by distance from '<b id="postalcode">@Model.PostCode</b>'.
    </p>
    <p>
        Results labelled <span class="tag tag-new">National</span> are training providers who are willing to offer apprenticeship training across England.
    </p>
}

@helper  RenderAllResults()
{
    <p id="standard-provider-search-message">
        There are <b id="total-results">@Model.TotalResults</b> training providers for <b id="standard-name">@Model.Title level @Model.FrameworkLevel</b> in England.
    </p>
    <p>
        Results are ordered by distance from '<b id="postalcode">@Model.PostCode</b>'.
    </p>
    <p>
        Results labelled <span class="tag tag-new">National</span> are training providers who are willing to offer apprenticeship training across England.
    </p>
}

@helper RenderZeroResult()
{
    <p>
        Sorry, there are currently no training providers for <b>@Model.Title level @Model.FrameworkLevel</b> for '<b id="postalcode">@Model.PostCode</b>'.
    </p>
    <div>
        You can:
        <ul class="list list-bullet">
            @if (Model.TotalProvidersCountry > 0)
            {
                <li class="total-providers-country">@Html.ActionLink($"view all ({@Model.TotalProvidersCountry}) training providers", "FrameworkResults", "Provider", new { @apprenticeshipId = @Model.FrameworkId, @postcode = Model.PostCode, @showAll = true }, new { @class = "" }) for @Model.FrameworkName in England</li>
            }
            <li class="return-search-results">@Html.ActionLink("return to your apprenticeship training search results", "SearchResults", "Apprenticeship", new { @keywords = @Model.SearchTerms }, new { })</li>
            <li class="start-again">@Html.ActionLink("start your keyword search again", "Search", "Apprenticeship")</li>
        </ul>
    </div>
}

@helper  RenderMessageOneResult()
{
    <p>
        There is <b id="total-results">@Model.TotalResults</b> training provider for the apprenticeship: <b id="standard-name">@Model.Title level @Model.FrameworkLevel</b>.
    </p>
    <p>
        Results are ordered by distance from '<b id="postalcode">@Model.PostCode</b>'.
    </p>
    <p>
        Results labelled <span class="tag tag-new">National</span> are training providers who are willing to offer apprenticeship training across England.
    </p>
}


@helper  RenderMessage()
{
    <p>
        There are <b id="total-results">@Model.TotalResults</b> training providers for the apprenticeship: <b>@Model.Title level @Model.FrameworkLevel</b>.
    </p>
    <p>
        Results are ordered by distance from '<b>@Model.PostCode</b>'.
    </p>
    <p>
        Results labelled <span class="tag tag-new">National</span> are training providers who are willing to offer apprenticeship training across England.
    </p>
}


