@model Sfa.Das.Sas.Web.ViewModels.ProviderFrameworkSearchResultViewModel

<div class="result-message">
    @if (Model.HasError)
    {
        <p>
            There was a problem performing a search. Try again later.
        </p>
    }
    else if (Model.ShowAll && Model.TotalResults > 0)
    {
        @RenderAllResults()

    }
    else if (Model.TotalResults > 0)
    {
        @RenderMessage()

    }

    @if (@Model.TotalResults > 0 && Model.NationalProviders != null && Model.NationalProviders.Count > 0)
    {
        <p>
            Results labelled <span class="tag tag-national">National</span> are training providers who are willing to offer apprenticeship training across England.
        </p>
    }

</div>

@helper  RenderAllResults()
{
    var providerLabel = Model.TotalResults > 1 ? "providers" : "provider";
    <p>
        <b>@Model.TotalResults</b> training @providerLabel for the <b>@Model.Title, level @Model.FrameworkLevel</b> apprenticeship in England.
    </p>
    <p>
        Results are ordered by distance from '<b>@Model.PostCode</b>'.
    </p>
}

@helper  RenderMessage()
{
    var providerLabel = Model.TotalResults > 1 ? "providers" : "provider";
    <p>
        <b>@Model.TotalResults</b> training @providerLabel for the <b>@Model.Title, level @Model.FrameworkLevel</b> apprenticeship.
    </p>
    <p>
        Results are ordered by distance from '<b>@Model.PostCode</b>'.
    </p>
}