@model Sfa.Das.Sas.Web.ViewModels.ProviderStandardSearchResultViewModel

<div>
    @if (Model.HasError)
    {
        @RenderErrorMessage()
    }
    else if (Model.ShowNationalProviders && Model.TotalResults == 0)
    {
        @RenderZeroNationalProviders()
    }
    else if (Model.ShowAll && Model.TotalResults == 1)
    {
        @RenderAllOneResults()
    }
    else if (Model.ShowAll && Model.TotalResults != 1)
    {
        @RenderAllResults()
    }
    else if (Model.TotalResults == 0)
    {
        @RenderZeroResult()
    }
    else if (Model.TotalResults == 1)
    {
        @RenderMessageOneResult()
    }
    else
    {
        @RenderMessage()
    }
</div>

@helper  RenderErrorMessage()
{
    <p id="standard-provider-search-message">
        There was a problem performing a search. Try again later.
    </p>
}

@helper  RenderZeroNationalProviders()
{
    <p id="standard-provider-search-message">
        Sorry, there are currently no results for the filters you applied'.
    </p>
    <div>
        <p>You can:</p>
        <ul class="list list-bullet">
            <li class="return-search-results">@Html.ActionLink("return to your apprenticeship training search results", "StandardResults", "Provider", new { @apprenticeshipid = @Model.StandardId, @postcode = @Model.PostCode, @keywords = @Model.SearchTerms }, new { })</li>
            <li class="start-again">@Html.ActionLink("start your keyword search again", "Search", "Apprenticeship")</li>
        </ul>
    </div>
}

@helper  RenderAllOneResults()
{
    <p id="standard-provider-search-message">
        There is <b id="total-results">@Model.TotalResults</b> training provider for <b id="standard-name">@Model.StandardName</b> in England.
    </p>
    <p>
        Results are ordered by distance from '<b id="postalcode">@Model.PostCode</b>'.
    </p>
    <p>
        Results labelled <span class="tag tag-new">National</span> are training providers who are willing to offer apprenticeship training across England
    </p>
}

@helper  RenderAllResults()
{
    <p id="standard-provider-search-message">
        There are <b id="total-results">@Model.TotalResults</b> training providers for <b id="standard-name">@Model.StandardName</b> in England.
    </p>
    <p>
        Results are ordered by distance from '<b id="postalcode">@Model.PostCode</b>'.
    </p>
    <p>
        Results labelled <span class="tag tag-new">National</span> are training providers who are willing to offer apprenticeship training across England
    </p>
}

@helper RenderZeroResult()
{
    <p id="standard-provider-search-message">
        Sorry, there are currently no training providers for @Model.StandardName for '<b id="postalcode">@Model.PostCode</b>'.
    </p>
    <div>
        <p>You can:</p>
        <ul class="list list-bullet">
            @if (Model.TotalResultsForCountry > 0)
            {
                <li class="total-providers-country">@Html.ActionLink(string.Format("view all ({0}) training providers", @Model.TotalResultsForCountry), "StandardResults", "Provider", new { @apprenticeshipId = @Model.StandardId, @postcode = Model.PostCode, @showAll = true }, new { @class = "" }) for @Model.StandardName in England</li>
            }
            <li class="return-search-results">@Html.ActionLink("return to your apprenticeship training search results", "SearchResults", "Apprenticeship", new {@keywords = @Model.SearchTerms}, new { })</li>
            <li class="start-again">@Html.ActionLink("start your keyword search again", "Search", "Apprenticeship")</li>
        </ul>
    </div>
}

@helper  RenderMessageOneResult()
{
    <p id="standard-provider-search-message">
        There is <b id="total-results">@Model.TotalResults</b> training provider for the apprenticeship: <b id="standard-name">@Model.StandardName</b>.
    </p>
    <p>
        Results are ordered by distance from '<b id="postalcode">@Model.PostCode</b>'.
    </p>
    <p>
        Results labelled <span class="tag tag-new">National</span> are training providers who are willing to offer apprenticeship training across England
    </p>
}


@helper  RenderMessage()
{
    <p id="standard-provider-search-message">
        There are <b id="total-results">@Model.TotalResults</b> training providers for the apprenticeship: <b>@Model.StandardName</b>.
    </p>
    <p>
        Results are ordered by distance from '<b>@Model.PostCode</b>'.
    </p>
    <p>
        Results labelled <span class="tag tag-new">National</span> are training providers who are willing to offer apprenticeship training across England
    </p>
}
