@model Sfa.Das.Sas.Web.ViewModels.FeedbackViewModel

@if (Model != null && Model.TotalFeedbackCount > 0)
{
    <div id="feedback-heading" class="graph-heading-group">
        <h2 class="heading-medium">What employers are saying</h2>
        <p class="meta">Based on @Model.TotalFeedbackCount reviews from employers that work with this training provider.</p>
        <p class="meta"><a href="https://sfadigital.blog.gov.uk/2018/09/26/new-feedback-feature-for-the-apprenticeship-service/" target="_blank">Find out how these reviews work</a></p>
    </div>

    <h3 class="heading-small">Overall rating from October 2018 to now</h3>
    <ul class="graph-list">
        <li class="level-1">
            <span class="label">Excellent</span>
            <span class="chart">
                <span class="graph">
                    <span class="bar" style="width: @Model.ExcellentFeedbackPercentage%"></span>
                </span>
            </span>
            <span class="figure">@Model.ExcellentFeedbackCount <span class="visually-hidden">out of @Model.TotalFeedbackCount </span>reviews</span>
        </li>
        <li class="level-2">
            <span class="label">Good</span>
            <span class="chart">
                <span class="graph">
                    <span class="bar" style="width: @Model.GoodFeedbackPercentage%"></span>
                </span>
            </span>
            <span class="figure">@Model.GoodFeedbackCount <span class="visually-hidden">out of @Model.TotalFeedbackCount </span>reviews</span>
        </li>
        <li class="level-3">
            <span class="label">Poor</span>
            <span class="chart">
                <span class="graph">
                    <span class="bar" style="width: @Model.PoorFeedbackPercentage%"></span>
                </span>
            </span>
            <span class="figure">@Model.PoorFeedbackCount <span class="visually-hidden">out of @Model.TotalFeedbackCount </span>reviews</span>
        </li>
        <li class="level-4">
            <span class="label">Very poor</span>
            <span class="chart">
                <span class="graph">
                    <span class="bar" style="width: @Model.VeryPoorFeedbackPercentage%"></span>
                </span>
            </span>
            <span class="figure">@Model.VeryPoorFeedbackCount <span class="visually-hidden">out of @Model.TotalFeedbackCount </span>reviews</span>
        </li>
    </ul>
    <div class="grid-row provider-list-details">
        @if (Model.Strengths.Any())
        {
            <div id="strengths" class="column-half">
                <h4 class="heading-small">Strengths</h4>
                <ul class="list">
                    @foreach (var strength in Model.Strengths)
                    {
                        <li>@strength.Name (@strength.Count)</li>
                    }
                </ul>
            </div>
        }
        @if (Model.Weaknesses.Any())
        {
            <div id="weaknesses" class="column-half">
                <h4 class="heading-small">Things to improve</h4>
                <ul class="list">
                    @foreach (var toImprove in Model.Weaknesses)
                    {
                        <li>@toImprove.Name (@toImprove.Count)</li>
                    }
                </ul>
            </div>
        }
    </div>
}

