@using Sfa.Das.Sas.Web.Extensions
@using Sfa.Das.Sas.Web.ViewModels
@model ProviderDetailViewModel

@{
    ViewBag.PageID = "provider-detail-view";
    ViewBag.Title = "Provider Details for " + Model.ProviderName;
    ViewBag.Description = "";
}

<main id="content" class="provider-detail">
    <div class="grid-row">
        <div class="column-two-thirds">
            @if (Model.ShowBackLink)
            {
                @Html.ActionLink("Back", "SearchResults", "Provider", new { @SearchTerm = Model.SearchTerm }, new { @class = "link-back" })
            }

            <h1 class="heading-xlarge" id="provider-name">
                @Model.ProviderName
                @if (@Model.NationalProvider)
                {
                    <span class="tag-national"><span class="font-adjust">National</span></span>
                }
            </h1>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            @if (Model.CurrentlyNotStartingNewApprentices)
            {
                <div class="error-summary warning">
                    <p class="error-message">This provider is not currently starting new apprentices</p>
                </div>
            }

            <dl class="data-list--provider data-list--compact">

                @if (!string.IsNullOrEmpty(Model.TradingNames))
                {
                    <dt>Trading names:</dt>
                    <dd id="trading-names">@Model.TradingNames</dd>
                }
                <dt>UKPRN:</dt>
                <dd>@Model.UkPrn</dd>
            </dl>
            @{
                if (Model.IsLevyPayerOnly)
                {
                    <p id="levy-payer-only" class="detail-highlight">
                        Only levy paying employers can work with this provider
                    </p>
                }
                if (Model.HasParentCompanyGuarantee)
                {
                    <p id="parent-company-guarantee" class="detail-highlight">
                        Provider is supported by a parent company guarantee
                    </p>
                }

                if (Model.IsNew)
                {
                    <p id="is-new-provider" class="detail-highlight">
                        New organisation with no financial track record
                    </p>
                }
            }

            @if (Model.DisplayAboutThisProvider)
            {
                <p id="about-this-provider" class="markdown-header-text">About this provider</p>
                if (string.IsNullOrEmpty(Model.MarketingInfo))
                {
                    <span>There is no marketing information available about this provider.</span>
                }
                else
                {
                    @Html.MarkdownToHtml(Model.MarketingInfo)
                }
            }

            @if (Model.ProviderFeedback != null && Model.ProviderFeedback.TotalFeedbackCount > 0)
            {
                <div id="feedback-heading" class="graph-heading-group">
                    <h2 class="heading-medium">What employers are saying</h2>
                    <p class="meta">Based on @Model.ProviderFeedback.TotalFeedbackCount reviews from employers that work with this training provider.</p>
                    <p><a href="https://sfadigital.blog.gov.uk/2018/09/26/new-feedback-feature-for-the-apprenticeship-service/" target="_blank">Find out how these reviews work</a></p>
                </div>

                <h3 class="heading-small">Overall rating from October 2018 to now</h3>
                <ul class="graph-list">
                    <li class="level-1">
                        <span class="label">Excellent</span>
                        <span class="chart">
                            <span class="graph">
                                <span class="bar" style="width: @Model.ProviderFeedback.ExcellentFeedbackPercentage%"></span>
                            </span>
                        </span>
                        <span class="figure">@Model.ProviderFeedback.ExcellentFeedbackCount <span class="visually-hidden">out of @Model.ProviderFeedback.TotalFeedbackCount </span>reviews</span>
                    </li>
                    <li class="level-2">
                        <span class="label">Good</span>
                        <span class="chart">
                            <span class="graph">
                                <span class="bar" style="width: @Model.ProviderFeedback.GoodFeedbackPercentage%"></span>
                            </span>
                        </span>
                        <span class="figure">@Model.ProviderFeedback.GoodFeedbackCount <span class="visually-hidden">out of @Model.ProviderFeedback.TotalFeedbackCount </span>reviews</span>
                    </li>
                    <li class="level-3">
                        <span class="label">Poor</span>
                        <span class="chart">
                            <span class="graph">
                                <span class="bar" style="width: @Model.ProviderFeedback.PoorFeedbackPercentage%"></span>
                            </span>
                        </span>
                        <span class="figure">@Model.ProviderFeedback.PoorFeedbackCount <span class="visually-hidden">out of @Model.ProviderFeedback.TotalFeedbackCount </span>reviews</span>
                    </li>
                    <li class="level-4">
                        <span class="label">Very poor</span>
                        <span class="chart">
                            <span class="graph">
                                <span class="bar" style="width: @Model.ProviderFeedback.VeryPoorFeedbackPercentage%"></span>
                            </span>
                        </span>
                        <span class="figure">@Model.ProviderFeedback.VeryPoorFeedbackCount <span class="visually-hidden">out of @Model.ProviderFeedback.TotalFeedbackCount </span>reviews</span>
                    </li>
                </ul>
                <div class="grid-row provider-list-details">
                    @if (Model.ProviderFeedback.Strengths.Any())
                    {
                        <div id="strengths" class="column-half">
                            <h4 class="heading-small">Strengths</h4>
                            <ul class="list">
                                @foreach (var strength in Model.ProviderFeedback.Strengths)
                                {
                                    <li>@strength.Name (@strength.Count)</li>
                                }
                            </ul>
                        </div>
                    }
                    @if (Model.ProviderFeedback.Weaknesses.Any())
                    {
                        <div id="weaknesses" class="column-half">
                            <h4 class="heading-small">Things to improve</h4>
                            <ul class="list">
                                @foreach (var toImprove in Model.ProviderFeedback.Weaknesses)
                                {
                                    <li>@toImprove.Name (@toImprove.Count)</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            }

            @if (Model.ApprenticeshipTrainingSummary?.PaginationDetails != null && Model.ApprenticeshipTrainingSummary.PaginationDetails.TotalCount > 0)
            {
                <div id="search-app-offered">
                    <h2 class="heading-medium app-offered">
                        @Model.ApprenticeshipTrainingSummary.PaginationDetails.TotalCount Apprenticeships offered
                    </h2>
                </div>
                <table class="app-details">
                    <thead>
                        <tr>
                            <th>Apprenticeship</th>
                            <th>Type</th>
                            <th>Level</th>
                            <th><span class="visibility-hidden">View details</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ApprenticeshipTrainingSummary.ApprenticeshipTrainingItems)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Type</td>
                                <td>@item.Level</td>
                                <td><a href="/Apprenticeship/@item.Type/@item.Identifier?keyword=@Model.SearchTerm&UkPrn=@Model.UkPrn">Details</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <nav role="navigation">
                <ul class="previous-next-navigation">
                    @if (Model?.ApprenticeshipTrainingSummary?.PaginationDetails?.Page != null && Model.ApprenticeshipTrainingSummary.PaginationDetails.Page > 1)
                    {
                        var pageBefore = Model.ApprenticeshipTrainingSummary.PaginationDetails.Page - 1;

                        <li class="previous" id="previous-nav">
                            <a href="/provider/@Model.UkPrn/page/@pageBefore">
                                Previous <span class="visuallyhidden">page</span>
                                <span class="page-numbers">Previous page @pageBefore of @Model.ApprenticeshipTrainingSummary.PaginationDetails.LastPage</span>
                            </a>
                        </li>
                    }
                    @if (Model?.ApprenticeshipTrainingSummary?.PaginationDetails?.Page != null && Model.ApprenticeshipTrainingSummary.PaginationDetails.Page < Model.ApprenticeshipTrainingSummary.PaginationDetails.LastPage)
                    {
                        var pageAfter = Model.ApprenticeshipTrainingSummary.PaginationDetails.Page + 1;

                        <li class="next" id="next-nav">
                            <a href="/provider/@Model.UkPrn/page/@pageAfter">
                                Next <span class="visuallyhidden">page</span>
                                <span class="page-numbers">Next page @pageAfter of @Model.ApprenticeshipTrainingSummary.PaginationDetails.LastPage</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>

        <div class="column-one-third">
            <div class="panel--contact">
                <h2 class="heading-medium">Contact details</h2>
                <dl>
                    @{
                        if (!string.IsNullOrEmpty(Model.Website))
                        {
                            var linkProtocol = Model.Website.StartsWith("http") ? string.Empty : "http://";
                            <dt class="apprenticeshipContactTitle">Website:</dt>
                            <dd>
                                <a href="@linkProtocol@Model.Website" rel="external" target="_blank" class="course-link apprenticeshipContact">
                                    @Html.Raw(Model.ProviderName + " website")
                                </a>
                            </dd>
                        }

                    }


                    @{
                        if (!string.IsNullOrEmpty(Model.Phone))
                        {
                            <dt class="phone-title">Phone number:</dt>
                            <dd id="phone" class="phone">@Html.Raw(Model.Phone)</dd>
                        }
                    }
                    @{
                        if (!string.IsNullOrEmpty(Model.Email))
                        {
                            <dt class="email-title">Email:</dt>
                            <dd id="email" class="email"><a href="mailto:@Html.Raw(Model.Email)">@Html.Raw(Model.Email)</a></dd>
                        }
                    }

                </dl>
            </div>
            <div class="panel--contact panel--satisfaction">
                <h2 class="heading-medium">Annual survey results</h2>
                <dl>
                    <dt>Employer satisfaction:</dt>
                    <dd>
                        <div class="rating rating--inline">
                            <span id="employer-satisfaction" class="rating-@Model.EmployerSatisfaction">
                                @Model.EmployerSatisfactionMessage
                            </span>
                            @CreateProgressBar(Model.EmployerSatisfactionMessage, (int) Model.EmployerSatisfaction)
                        </div>
                    </dd>
                    <dt>Learner satisfaction:</dt>
                    <dd>
                        <div class="rating rating--inline">
                            <span id="learner-satisfaction" class="rating-@Model.LearnerSatisfaction">
                                @Model.LearnerSatisfactionMessage
                            </span>
                            @CreateProgressBar(Model.LearnerSatisfactionMessage, (int) Model.LearnerSatisfaction)
                        </div>
                        @if (!(Model.EmployerSatisfactionMessage == "no data available" && Model.LearnerSatisfactionMessage == "no data available"))
                        {
                            <span class="satisfaction-source font-small">
                                Source: <a href="https://www.gov.uk/government/collections/fe-choices" target="_blank">FE Choices</a>
                            </span>
                        }
                    </dd>
                </dl>
            </div>
            <div class="panel-disclaimer">
                <h4>Content disclaimer</h4>
                <p>
                    Education and Skills Funding Agency cannot guarantee the accuracy of course information on this site and makes
                    no representations about the quality of any courses which appear on the site. Education and Skills Funding Agency
                    is not liable for any losses suffered as a result of any party relying on the course information
                    provided.
                </p>
            </div>
            <div id="expand-collapse">
                <details>
                    <summary>Explain levels</summary>
                    <div class="panel panel-border-narrow">
                        <p>Apprenticeships are set at different levels of difficulty from the equivalent of GCSE (level 2) up to postgraduate (level 7)</p>
                        <p><a href="https://www.gov.uk/what-different-qualification-levels-mean/overview" target="_blank" rel="external">More about levels</a></p>
                    </div>
                </details>
            </div>
        </div>
    </div>
</main>


@helper CreateProgressBar(string message, int progress)
{
    if (progress > 0)
    {
        <div class="progress-container">
            <div class="progressbar" style="width: @progress%"></div>
        </div>
    }
}