@using Sfa.Das.Sas.Web.ViewModels
@using Sfa.Das.Sas.Web.Extensions
@using Sfa.Das.Sas.Web.Helpers
@model ProviderSearchNameResultViewModel

@{
    ViewBag.Title = "Search Results";
    ViewBag.PageId = "provider-search";
}
<main id="content" role="main">
    <input type="hidden" value="@Model.SearchTerm" id="ga-search-term"/>
    <input type="hidden" value="@Model.Results.IsNullOrEmpty().ToString()" id="ga-no-result" />
    
    <div class="grid-row">
        <div class="column-full">
            <hgroup class="hgroup">
                <h1 class="heading-xlarge">
                    Find a training provider by name
                </h1>
             
            </hgroup>

            @if (Model.TotalResults == 0)
            {
                using (Html.BeginForm("SearchResults", "Provider", FormMethod.Get, new { @class = "search-box" }))
                {
                    <div class="form-group">
                        <label for="searchTerm">
                            <span class="form-hint">Enter a training provider name</span>
                        </label>
                        <span class="error-message"></span>
                        <input type="search" id="searchTerm" name="SearchTerm" class="text-box form-control" maxlength="200">
                    </div>
                    <input class="button" id="submit-keywords" type="submit" value="Search" />
                }
            }
        </div>
    </div>
    
    <div class="grid-row">
        @if (Model.TotalResults > 0)
        {
            using (Html.BeginForm("SearchResults", "Provider", FormMethod.Get, new { @class = "search-box" }))
            {
                <div class="column-two-thirds">
                    <div class="form-group search-form">
                        <label for="searchTerm">
                            <span class="form-hint">Enter a training provider name</span>
                        </label>
                        <input type="search" id="searchTerm" name="SearchTerm" class="form-control form-control-3-4" value="@Model.SearchTerm" maxlength="200">
                        <input id="submit-keywords" class="button" type="submit" value="Search" />
                    </div>
                </div>
            }
        }
    </div>
    <div class="grid-row">
        @if (!Model.HasError && !Model.ShortSearchTerm &&  Model.TotalResults > 0)
        {
            <div id="apprenticeship-results" class="column-two-thirds">
                
                <span class="form-hint"> @Model.TotalResults results found</span>

                @foreach (var item in Model.Results)
                {
                    <article class="result">
                        <dl class="result-data-list">
                            @GetProviderDetailItem(item.ProviderName, item.Aliases, item.UkPrn.ToString())
                        </dl>
                    </article>
                }
               
            </div>
        }
        else
        {
            Html.RenderPartial("_SearchResultMessage");
        }

    </div>
</main>




@helper GetProviderDetailItem(string title, List<string> aliases, string ukprn)
{
    <dt><b><a href="../Provider/@ukprn">@title</a></b></dt>
    if (aliases != null && aliases.Count > 0)
    {
 
        foreach (var alias in aliases)
        {
            <dt>
                ...<a href="../Provider/@ukprn">@alias</a>
            </dt>
        }
    }

}
