
@using Sfa.Das.Sas.Web.Extensions
@model Sfa.Das.Sas.Web.ViewModels.ProviderStandardSearchResultViewModel

@{
    ViewBag.Title = "Provider Search Results";
}

<main id="content" role="main">
    @Html.ActionLink("Back", "Standard", "Apprenticeship", new { @id = @Model.StandardId }, new { @class = "link-back" })
    <div id="provider-results" class="grid-row">

        <div class="column-two-thirds">

            <div class="hgroup">

                <h1 class="heading-xlarge">
                    Search results
                </h1>

            </div>
            <p>
                @{
                    Html.RenderPartial("_StandardSearchResultMessage");
                }
            </p>
            @{
                Html.RenderPartial("_StandardProviderInformation");
            }
        </div>
        
        <div class="column-third">
            @if (!Model.DeliveryModes.IsNullOrEmpty())
            {
                <form method="get" action="@Request.Url.AbsolutePath">
                    <input type="hidden" name="PostCode" value="@Model.PostCode" />
                    <input type="hidden" name="apprenticeshipid" value="@Model.StandardId"/>
                    @{
                        Html.RenderPartial("_FilterProviders", Model.DeliveryModes);
                    }
                    <input type="submit" value="Update results" class="button margin-top-x2 postcode-search-button" />
                </form>
            }
        </div>
    </div>
</main>

@if (Model.TotalResults == 0)
{
    <script>
        window.onload = function() {    
            SearchAndShortlist.analytics.pushEvent("Provider Search", "No results", "Search");
        }
    </script> 
}
