@using Sfa.Eds.Das.Resources
@using Sfa.Eds.Das.Web.Extensions
@model Sfa.Eds.Das.Web.ViewModels.FrameworkViewModel

@{
    ViewBag.Title = "Framework - " + @Model.Title;
}

<main id="content">

    <p class="small-btm-margin">
        @Html.RenderAIfExists(@Model.SearchResultLink?.Title, @Model.SearchResultLink?.Url, "link-back")
    </p>

    <div class="grid-row">

        <div class="column-two-thirds">
            <header class="hgroup">
                <h1 class="heading-xlarge">
                    @Model.FrameworkName
                </h1>
                <p>
                    <b>Level:</b> <span>@Model.Level (equivalent to @EquivalenveLevelService.GetFrameworkLevel(Model.Level.ToString()) )</span>
                </p>
            </header>

            <p>This is an apprenticeship framework. Frameworks set out training requirements for apprentices in a specific work sector.</p>

            <p>If you are an employer, an apprenticeship training provider can give you more details about this framework, including: </p>

            <ul class="list list-bullet">

                <li>qualifications</li>
                <li>entry requirements</li>
                <li>duration</li>
                <li>career paths</li>

            </ul>

            @using (Html.BeginForm("FrameworkResults", "Provider", FormMethod.Get, new { @class = "search-box" }))
            {
                <h2 class="heading-medium">Find training providers for this apprenticeship</h2>
                <form action="/g-cloud/search" method="get" class="search-box">
                    <div class="form-group @(@Model.HasError ? " error" : "")">
                        <label class="form-label" for="postcode">
                            Enter a full postcode.
                            <p>
                                @{
                                    Html.RenderPartial("_BlankFieldErrorMessage");
                                }
                            </p>
                        </label>
                        <input type="hidden" id="apprenticeshipid" name="apprenticeshipid" class="text-box form-control" value="@Model.FrameworkId">
                        <input type="search" id="postcode" name="PostCode" class="text-box form-control postcode-search-box" maxlength="200" placeholder="">
                    </div>
                    <input class="button margin-top-x2 postcode-search-button" id="submit-postcode" type="submit" value="Search" />
                </form>
            }
        </div>
     </div>
</main>