@model Sfa.Eds.Das.Web.ViewModels.ApprenticeshipSearchResultViewModel
﻿
@{
    ViewBag.Title = "Search Results";
}

<main id="content" role="main">
    @Html.ActionLink("Search", "Search", null, new { @class = "link-back" })
    <div id="apprenticeship-results" class="grid-row">

        <div class="column-two-thirds">

            <div class="hgroup">

                <h1 class="heading-xlarge">
                    Search results
                </h1>

            </div>
            <p>
                @{
                    Html.RenderPartial("_SearchResultMessage");
                }
            </p>

            @foreach (var item in Model.Results)
            {
                <article class="result @(item.ApprenticeshipType)-result" id="@(item.ApprenticeshipType)-@(item.StandardId!=0?item.StandardId:item.FrameworkId)">
                    <header>
                        <h2 class="result-title">
                            @if (item.StandardId != 0)
                            {
                                <span>
                                    @Html.ActionLink(item.Title, "Standard", "Apprenticeship", new { @id = item.StandardId }, null) NEW
                                </span>
                            }
                            else
                            {
                                @Html.ActionLink(item.Title, "Framework", "Apprenticeship", new { @id = item.FrameworkId }, null)
                            }
                        </h2>
                    </header>
                        <dl class="result-data-list">
                            @GetStandardDetailItem("Level", "level", item.Level)
                            @GetStandardDetailItem("Typical length:","length", item.TypicalLengthMessage)
                        </dl>
                </article>
            }
        </div>
    </div>
</main>

@if (Model.TotalResults == 0)
{
    <script>
        window.onload = function() {
            SearchAndShortlist.analytics.pushEvent("Apprenticeship Search", "No results", "Search");
        }
    </script>
}

@helper GetStandardDetailItem(string title, string id, string item, string unit = "")
{
if (!string.IsNullOrEmpty(item))
{
        <dt>@title</dt>
            <dd class="@id">@item @unit</dd>
}
}