@model Sfa.Eds.Das.Web.ViewModels.ApprenticeshipSearchResultViewModel
﻿
@{
    ViewBag.Title = "Search Results";
}

<main id="content" role="main">
    @Html.ActionLink("Search", "Search", null, new { @class = "link-back" })
    <div id="standard-results" class="grid-row">

        <div class="column-two-thirds">

            <div class="hgroup">

                <h1 class="heading-xlarge">
                    Search results
                </h1>

            </div>
            <p>
                @{
                    Html.RenderPartial("_SearchResultMessage");
                }
            </p>
                @foreach (var item in Model.Results)
                {
                    <article class="result">
                        <header>
                            <h2 class="result-title">
                                @if (item.StandardId != 0)
                                {
                                    @Html.ActionLink(item.Title, "Standard", "Apprenticeship", new { @id = item.StandardId }, null)
                                }
                                else
                                {
                                    @Html.ActionLink(item.Title, "Framework", "Apprenticeship", new { @id = item.FrameworkId }, null)
                                }
                            </h2>
                        </header>
                            <dl class="result-data-list">
                                @GetStandardDetailItem("Level", "level", item.Level)
                                @GetStandardDetailItem("Typical length:","length", item.TypicalLengthMessage)
                            </dl>
                    </article>
                }

        </div>

        <div class="column-third">

            <div class="related-container">
                <aside class="related" id="related">
                    <div class="inner group related-subsection">

                        <h2 id="parent-subsection">Help</h2>

                        <ul class="link-list">
                            <li>
                                <a href="help_standards.html">What is a standard</a>
                            </li>
                        </ul>

                    </div>
                    <div class="inner group">
                        <a class="return-to-top" href="#content">Return to top ↑</a>
                    </div>
                </aside>
            </div>

        </div>
    </div>
</main>

@helper GetStandardDetailItem(string title, string id, string item, string unit = "")
{
    if (!string.IsNullOrEmpty(item))
    {
            <dt>@title</dt>
            <dd class="@id">@item @unit</dd>
    }
}