@model Sfa.Das.Sas.Web.ViewModels.ApprenticeshipSearchResultViewModel

    @if (Model.HasError)
    {
        @RenderErrorMessage()
    }
    else if (Model.TotalResults == 0)
    {
        @RenderZeroResult()
        ;
    }
    else if (string.IsNullOrEmpty(Model.SearchTerm) || Model.SearchTerm == "*")
    {
        @RenderAllResult()
    }
    else if (Model.TotalResults == 1)
    {
        @RenderMessageOneResult()
    }
    else
    {
        @RenderMessage()
    }

@helper  RenderErrorMessage()
{
    <p id="result-summary" class="results-error">
        There was a problem performing a search. Try again later.
    </p>
}
@helper RenderZeroResult()
{
    <p id="result-summary" class="results-empty">
        There are no apprenticeships matching your search for '<b>@Model.SearchTerm</b>'.
    </p>
}
@helper  RenderAllResult()
{
    <p id="result-summary" class="results-all">
        All apprenticeships.
    </p>
    @RenderStandardMessage()
}
@helper  RenderMessageOneResult()
{
    <p id="result-summary" class="results-one">
        T<b>@Model.TotalResults</b> apprenticeships matching your search for '<b>@Model.SearchTerm</b>'.
    </p>
    @RenderStandardMessage()
}

@helper  RenderMessage()
{
    <p id="result-summary" class="results-several">
        <b>@Model.TotalResults</b> apprenticeships matching your search for '<b>@Model.SearchTerm</b>'.
    </p>
    @RenderStandardMessage()
}

@helper RenderStandardMessage()
{
    <p class="labelmessage" >
        Results labelled <strong class="tag tag-new">New</strong> are apprenticeship standards developed by employer groups.
    </p>
}

