@using Sfa.Das.Sas.Resources
@model Sfa.Das.Sas.Web.ViewModels.FrameworkViewModel

@{
    ViewBag.Title = @Model.Title + " - Apprenticeship Framework";   
}

<main id="content">
    <div class="grid-row">
        <div class="column-two-thirds">
                <h1 class="heading-xlarge">
                    @Model.Title
                </h1>
                <p>
                    This information is taken from an apprenticeship framework. It sets out what qualifications the apprentice can achieve.
                </p>
                @if (Model.ExpiryDateString != null)
                {
                    <div class="expire-date">
                        <div>
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        </div>
                        <span>
                            This apprenticeship is closed to new starters from @Model.ExpiryDateString
                        </span>
                    </div>
                }
        </div>

        <div class="column-third">
            <div class="related-container">
                <aside class="hidden-for-mobile-tablet">

                    <a class="button ui-find-training-providers" href="@Url.Action("SearchForFrameworkProviders", "Apprenticeship", new {frameworkId = Model.FrameworkId, keywords = Model.SearchTerm})">
                        Find training providers
                    </a>
                </aside>
            </div>

        </div>
    </div>

    <section>
        <header>
            <h2 class="heading-large">
                Summary of this apprenticeship framework
            </h2>
        </header>

        <dl class="data-list">
            @if (!string.IsNullOrEmpty(Model.FrameworkOverview))
            {
                <dt class="overviewTitle">Overview of role</dt>
                <dd class="overviewText">@Model.FrameworkOverview </dd>
            }
            <dt>Level</dt>
            <dd>
                @Model.Level (equivalent to @EquivalenveLevelService.GetApprenticeshipLevel(Model.Level.ToString()) )
            </dd>
            @if (!string.IsNullOrEmpty(Model.TypicalLengthMessage))
            {
                <dt>Typical length</dt>
                <dd>@Model.TypicalLengthMessage </dd>
            }
            <dt>Entry requirements</dt>
            <dd class="entry-requirements">
                @if (!string.IsNullOrEmpty(@Model.EntryRequirements))
                {
                    <div>@Model.EntryRequirements</div>
                }
                <div>Your chosen training provider can advise you about entry requirements for apprentices.</div>
            </dd>

            <dt>Suitable roles for apprentices</dt>
            <dd class="job-roles">
                @if (Model.JobRoles != null && Model.JobRoles.Any())
                {
                    <ul>
                        @foreach (var jobRole in Model.JobRoles.Take(5))
                        {
                            <li>@jobRole</li>
                        }
                        @if (Model.JobRoles.Count() > 5)
                        {
                            foreach (var jobRole in Model.JobRoles.Skip(5))
                            {
                                <li class="default-hidden">@jobRole</li>
                            }
                            <a href="#" class="showmore hidden">Show more</a>
                        }
                    </ul>
                }
                    
                <div>
                    Your chosen training provider can advise you about the kinds of skills apprentices will learn.    
                </div>
            </dd>
            <dt>Qualifications</dt>
            <dd>
                <div class="qualifications">
                    @if (Model.CompetencyQualification!= null && Model.CompetencyQualification.Any())
                    {
                        <div class="competencyQualifications">
                            <p>Apprentices will achieve a practical (or 'competence') qualification:</p>
                            <ul>
                                @foreach (var qualification in Model.CompetencyQualification.Take(3))
                                {
                                    <li>@qualification</li>
                                }
                                
                                @if (Model.CompetencyQualification.Count() > 3)
                                {
                                    foreach (var qualification in Model.CompetencyQualification.Skip(3))
                                    {
                                        <li class="default-hidden">@qualification</li>
                                    }
                                    <a href="#" class="showmore hidden">Show more</a>
                                }
                            </ul>
                        </div>
                    }

                    @if (Model.KnowledgeQualification!= null && Model.KnowledgeQualification.Any())
                    {
                        <div class="knowledgeQualifications">
                            <p>Apprentices will also achieve a theory-based (or 'knowledge') qualification:</p>
                            <ul>
                                @foreach (var qualification in Model.KnowledgeQualification.Take(3))
                                {
                                    <li>@qualification</li>
                                }
                                
                                @if (Model.KnowledgeQualification.Count() > 3)
                                {
                                    foreach (var qualification in Model.KnowledgeQualification.Skip(3))
                                    {
                                        <li class="default-hidden">@qualification</li>
                                    }
                                    <a href="#" class="showmore hidden">Show more</a>
                                }
                            </ul>
                        </div>
                    }

                    @if (Model.CombinedQualificiation != null && Model.CombinedQualificiation.Any())
                    {
                        <div class="combinedQualification">
                            <p>Apprentices will achieve a practical and theory-based (or 'combined') qualification:</p>
                            <ul>
                                @foreach (var qualification in Model.CombinedQualificiation.Take(3))
                                {
                                    <li>@qualification</li>
                                }
                                
                                @if (Model.CombinedQualificiation.Count() > 3)
                                {
                                    foreach (var qualification in Model.CombinedQualificiation.Skip(3))
                                    {
                                        <li class="default-hidden">@qualification</li>
                                    }
                                    <a href="#" class="showmore hidden">Show more</a>
                                }
                            </ul>
                        </div>
                    }
                    </div>

                    @if (Model.CompletionQualifications != string.Empty)
                    {
                        <p class="completionQualifications">@Model.CompletionQualifications</p>
                    }
                    <p class="qualificationsStatic">Your chosen training provider can advise you about the qualifications open to apprentices as they can change depending on individual and other circumstances.</p>
                </dd>

            <dt>Professional registration</dt>
            <dd>@Model.ProfessionalRegistration</dd>
        </dl>

        <div id="bottom-actions">
                <a class="button ui-find-training-providers" id="ga-find-provider-bottom" href="@Url.Action("SearchForFrameworkProviders", "Apprenticeship", new { frameworkId = Model.FrameworkId, keywords = Model.SearchTerm })">
                    Find training providers
                </a>
        </div>
    </section>
</main>