@using Sfa.Das.Sas.Resources
@using Sfa.Das.Sas.Web.Extensions
@model Sfa.Das.Sas.Web.ViewModels.FrameworkViewModel

@{
    ViewBag.Title = "Framework - " + @Model.Title;
}

<main id="content">

    <p class="small-btm-margin">
        @Html.RenderAIfExists(@Model.SearchResultLink?.Title, @Model.SearchResultLink?.Url, "link-back")
    </p>

    <div class="grid-row">

        <div class="column-two-thirds">
            <header>
                <h1 class="heading-xlarge">
                    @Model.Title
                </h1>
                <dl class="data-list">
                    <dt>Level:</dt>
                    <dd>
                        @Model.Level (equivalent to @EquivalenveLevelService.GetApprenticeshipLevel(Model.Level.ToString()) )
                    </dd>
                    @if (!string.IsNullOrEmpty(Model.TypicalLengthMessage))
                    {
                        <dt>Typical length:</dt>
                        <dd>@Model.TypicalLengthMessage </dd>
                    }
                </dl>
            </header>

            <p>This is an apprenticeship framework. Frameworks set out training requirements for apprentices in a specific work sector.</p>

            <p>If you are an employer, an apprenticeship training provider can give you more details about this framework, including: </p>

            <ul class="list list-bullet">

                <li>qualifications</li>
                <li>entry requirements</li>
                <li>career paths</li>

            </ul>

            <div id="bottom-actions">
                @GetShortlistLink(@Model.FrameworkId, @Model.IsShortlisted)

                <a class="button ui-find-training-providers" href="@Url.Action("SearchForProviders", "Apprenticeship", new { frameworkId = Model.FrameworkId, keywords = Model.SearchTerm})">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Find training Providers
                </a>
            </div>
        </div>
    </div>
</main>

@helper GetShortlistLink(int id, bool isShortlisted)
{
if (isShortlisted)
{
        @Html.ActionLink("Remove from shortlist", "RemoveFramework", "ShortList",
            new { id },
            new { @class = "link shortlist-link framework-shortlist-link", rel = "nofollow", data_framework = id, data_action = "remove" })
}
else
{
        @Html.ActionLink("Shortlist apprenticeship", "AddFramework", "ShortList",
            new { id },
            new { @class = "link shortlist-link framework-shortlist-link", rel = "nofollow", data_framework = id, data_action = "add" })
}
}