@using Sfa.Das.Sas.Resources
@using Sfa.Das.Sas.Web.Extensions
@model Sfa.Das.Sas.Web.ViewModels.FrameworkViewModel

@{
    ViewBag.Title = "Framework - " + @Model.Title;
}

<main id="content">

    <p class="small-btm-margin">
        @Html.RenderAIfExists(@Model.SearchResultLink?.Title, @Model.SearchResultLink?.Url, "link-back")
    </p>

    <div class="grid-row">

        <div class="column-two-thirds">
            <header>
                <h1 class="heading-xlarge">
                    @Model.Title
                </h1>
                <p>
                    <b>Level:</b> <span>@Model.Level (equivalent to @EquivalenveLevelService.GetApprenticeshipLevel(Model.Level.ToString()) )</span>
                </p>
            </header>

            <p>This is an apprenticeship framework. Frameworks set out training requirements for apprentices in a specific work sector.</p>

            <p>If you are an employer, an apprenticeship training provider can give you more details about this framework, including: </p>

            <ul class="list list-bullet">

                <li>qualifications</li>
                <li>entry requirements</li>
                <li>duration</li>
                <li>career paths</li>

            </ul>

            <div>
                <a class="button" href="@Url.Action("SearchForProviders", "Apprenticeship", new { frameworkId = Model.FrameworkId})">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Find training Providers
                </a>
            </div>
        </div>
     </div>
</main>