@model Sfa.Das.Sas.Web.ViewModels.ProviderSearchViewModel
@{
    ViewBag.Title = "Search for providers";
}

<main id="content">
    <hgroup class="hgroup">
        <h1 class="heading-xlarge">
            Find training provider
        </h1>
        <p class="lede">
            For <strong>@Model.Title</strong>
        </p>
    </hgroup>

    <div class="grid-row">
            <div class="column-two-thirds">
    
                <form action="@Model.PostUrl" class="postcode-form search-box" method="get">

                    <div class="form-elements @(Model.HasError || Model.WrongPostcode ? " error" : "")">
                        <div class="heading-group">
                            <h2 class="heading-medium">
                                Enter a postcode
                            </h2>
                            <p>for example: 'SW1A 2AA'</p>
                        </div>

                        <label class="form-label" for="search-box">
                            Enter a <strong>full</strong> postcode to find the closest training providers to you.

                            @if (@Model.HasError)
                            {
                                <span class="error-message">
                                    Sorry, postcode search not working, please try again later
                                </span>
                            }
                            else
                            {
                                <span class="error-message">
                                    You must enter a full postcode
                                </span>
                            }
                        </label>
                        <div class="form-group">
                            <input type="hidden" name="apprenticeshipid" class="text-box form-control" value="@Model.ApprenticeshipId">
                            <input type="hidden" name="keywords" class="text-box form-control" value="@Model.SearchTerms">
                            <input type="search" name="PostCode" value="@Model.PostCode" id="search-box" class="text-box form-control postcode-search-box" maxlength="200" placeholder="">
                        </div>
                        <input class="button margin-top-x2 postcode-search-button" type="submit" value="Search">
                    </div>
                </form>
            
                <div class="provider-data-warning">
                    <span class="glyphicon-tag tag-label tag-warning">Please Note</span> This is a new service. Training providers are currently entering their information. You will only see information for training providers who have updated their details so far.
                </div>

        </div>
    </div>
</main>