@using Sfa.Das.Sas.Web.Extensions
@using SFA.DAS.Apprenticeships.Api.Types
@model Sfa.Das.Sas.Web.ViewModels.ProviderSearchViewModel
@{
    ViewBag.Title = "Search for providers";
    ViewBag.Description = "The Find Apprenticeship Training service is for employers in England who want to find training courses for their apprentices and search for training providers.";
}

    <main id="content">
        @switch (Model.ApprenticeshipType)
        {
            case ApprenticeshipTrainingType.Framework:
                @Html.ActionLink("Back", "Framework", new { @keywords = Model.SearchTerms, @id = Model.ApprenticeshipId, @ukprn = Model.Ukprn }, new { @class = "link-back" })
                break;
            case ApprenticeshipTrainingType.Standard:
                @Html.ActionLink("Back", "Standard", new { @keywords = Model.SearchTerms, @id = Model.ApprenticeshipId, @ukprn = Model.Ukprn }, new { @class = "link-back" })
                break;
        }

        @if (Model.HasError)
        {
            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There is a problem
                </h2>

                <ul class="error-summary-list">
                    <li><a href="#example-postcode-service"@Model.ErrorMessage</a></li>
                </ul>
            </div>
        }

        <h1 class="heading-xlarge">
            <span class="heading-secondary">@Model.Title</span>
            Find a training provider
        </h1>

        <div class="grid-row">
            <div class="column-two-thirds">
                <form action="@Model.PostUrl" method="get" class="postcode-form">
                    <div class="form-group @(Model.HasError ? "error" : "")" data-validation="You must enter a full and valid postcode">
                        <label for="search-box">
                            <span class="form-label-bold">Please enter the postcode for where the apprentice will work</span>
                            <span class="form-hint">For example: 'SW1A 2AA'</span>

                            <span class="error-message">
                                <span id="error-postcode-service">
                                    @Html.Raw(@Model.ErrorMessage)
                                </span>
                            </span>

                        </label>
                        <input type="search" name="PostCode" value="@Model.PostCode.FormatPostcode()" id="search-box" class="form-control postcode-search-box" maxlength="200" placeholder="" />
                    </div>

                    <div class="form-group">
                        <input type="hidden" name="apprenticeshipid" class="text-box form-control" value="@Model.ApprenticeshipId">
                        <input type="hidden" name="keywords" class="text-box form-control" value="@Model.SearchTerms">
                        <input type="hidden" name="ukprn" class="text-box form-control" value="@Model.Ukprn">
                        <input type="hidden" name="IsLevyPayingEmployer" value="true">
                        <input class="button postcode-search-button" type="submit" value="Search">
                    </div>
                </form>
            </div>
        </div>
    </main>