@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Sfa.Das.Sas.Shared.Components.ViewComponents.ApprenticeshipDetails.FrameworkDetailsViewModel;
@inject Sfa.Das.Sas.Shared.Components.Domain.Interfaces.ICssClasses CssClasses;


<h2 class="@CssClasses.HeadingLarge @CssClasses.UtilitiesCss.Margin("top",0)">Summary of this apprenticeship</h2>

<div class="das-apprenticeship-details">
    @if (Model.EffectiveTo.HasValue && Model.EffectiveTo.Value > DateTime.Today)
    {
    <div class="@CssClasses.WarningText">
        <span class="@(CssClasses.WarningText)__icon" aria-hidden="true"></span>
        <strong class="@(CssClasses.WarningText)__text">
            <span class="@(CssClasses.WarningText)__assistive">Warning</span>
            This apprenticeship is closed to new starters from @Model.EffectiveTo.Value.ToLongDateString()
        </strong>
    </div>
    }
<dl class="@CssClasses.List">
    <dt class="@CssClasses.UtilitiesCss.FontWeightBold">Title</dt>
    <dd id="Title">@Model.Title</dd>

    <dt class="@CssClasses.UtilitiesCss.FontWeightBold">Type</dt>
    <dd id="level">Framework</dd>
    <dt class="@CssClasses.UtilitiesCss.FontWeightBold">Level</dt>
    <dd id="level">@Model.Level</dd>

    <dt class="@CssClasses.UtilitiesCss.FontWeightBold">Typical length</dt>
    <dd id="length">@Model.Duration months</dd>

    <dt class="@CssClasses.UtilitiesCss.FontWeightBold">Current funding band</dt>
    <dd id="funding-cap">
        Up to @Model.FundingCap per apprentice.<br>
        <a href="https://www.gov.uk/guidance/employing-an-apprentice-technical-guide-for-employers#funding-for-your-apprenticeship" target="_blank" rel="external" class="external">More information about funding</a>
    </dd>

    <dt class="@CssClasses.UtilitiesCss.FontWeightBold">Entry requirements</dt>
    <dd id="entry-requirements">Set by employer.</dd>

    @if (Model.JobRoles?.Any() == true)
        {
    <dt class="@CssClasses.UtilitiesCss.FontWeightBold">Suitable roles for apprentices</dt>
    <dd id="will-learn">
        <ul class="@CssClasses.List @CssClasses.ListBullet">
            @foreach (var jobRole in Model.JobRoles)
            {
                <li>@jobRole</li>
            }
        </ul>
        <p> Your chosen training provider can advise you about the kinds of skills apprentices will learn.</p>
    </dd>
        }
    <dt class="@CssClasses.UtilitiesCss.FontWeightBold">Qualifications</dt>
    <dd id="will-learn">
        @if (Model.CompetencyQualification?.Any() == true)
            {
        <p>Apprentices will achieve a practical (or 'competence') qualification:</p>
        <ul class="@CssClasses.List @CssClasses.ListBullet">
            @foreach (var competencyQualification in Model.CompetencyQualification)
                    {
            <li>@competencyQualification</li>
                    }
        </ul>
            }

        @if (Model.KnowledgeQualification?.Any() == true)
            {
        <p>Apprentices will also achieve a theory-based (or 'knowledge') qualification:</p>
        <ul class="@CssClasses.List @CssClasses.ListBullet">
            @foreach (var qualification in Model.KnowledgeQualification)
                    {
            <li>@qualification</li>
                    }
        </ul>
            }

        @if (Model.CombinedQualification?.Any() == true)
            {
        <p>Apprentices will achieve a practical and theory-based (or 'combined') qualification:</p>
        <ul class="@CssClasses.List @CssClasses.ListBullet">
            @foreach (var qualification in Model.CombinedQualification)
                    {
            <li>@qualification</li>
                    }
        </ul>
            }

        @if (Model.CompletionQualifications != string.Empty)
            {
        <p>@Model.CompletionQualifications</p>
            }

    </dd>

    <dt class="@CssClasses.UtilitiesCss.FontWeightBold">Professional registration</dt>
    <dd id="professional-registration">@Model.ProfessionalRegistration</dd>

    <dt class="@CssClasses.UtilitiesCss.FontWeightBold">End Point Assessment</dt>
    <dd>
        <details class="@CssClasses.Details">
            <summary class="@CssClasses.DetailsSummary">
                <span class="@CssClasses.DetailsSummaryText">View a list of end point assessment organisations for this standard</span>
            </summary>
            <div class="@CssClasses.DetailsText">
            </div>
        </details>
    </dd>

</dl>
</div>