@using Sfa.Das.Sas.Core.Extensions
@model Sfa.Das.Sas.Core.Models.StandardMetaData

@{
    ViewBag.Title = "Edit " + Model.Title;
}

<h2>Edit @Model.Title </h2>
<span>
    <a class="btn" href="@Url.Action("StandardDetails", new { Model.Id })">
        View standard
        <i class="fa fa-eye" aria-hidden="true"></i>
    </a>
</span>
<div class="edit edit-standard">
    <form action="/Apprenticeship/UpdateStandard" method="post">
        <input type="hidden" name="id" value="@Model.Id"/>

        <div class="edit-header">
            <h3>@Model.Title</h3>
            <input type="submit" class="btn btn-primary btn-lg" value="Update" />
        </div>

        <input type="hidden" name="apprenticeshipId" value="@Model.ApprenticeshipId" />
        <div class="boxed">
            <div>
                <label id="apprenticeshipId">ApprenticeshipId</label>
                <span class="right">
                    @Model.ApprenticeshipId.ToString()
                </span>
            </div>

            <div>
                <label>Title</label>
                <div class="right">
                    <input type="text" name="title" value="@Model.Title"/>
                </div>
            </div>
        </div>

        <div class="boxed">
            <label>Typical length</label>
            <div class="right">
                    <span>From</span>
                    <input type="number" min="0" name="typicalLength.From" value="@Model.TypicalLength.From"/>
                    <span>To</span>
                    <input type="number" min="0" name="typicalLength.To" value="@Model.TypicalLength.To"/>
                    <span>months</span>
            </div>
        </div>

        <div class="boxed entrybox" id="keyword-property">
            <label>Keywords</label>
            <div class="right">
                <input type="text" placeholder="add new keyword" />
                <div class="property-container" data-json="@Model.Keywords.WhereSafe(m => !string.IsNullOrEmpty(m)).ToJson()" data-name="keywords">
                </div>
            </div>
        </div>


        <div class="boxed entrybox" id="jobrole-property">
            <label>Job Roles</label>
            <div class="right">
                <input type="text" placeholder="add new job role"/>
                <div class="property-container" data-json="@Model.JobRoles.WhereSafe(m => !string.IsNullOrEmpty(m)).ToJson()" data-name="jobroles">
                </div>
            </div>
        </div>
        
        <div>
            <label>Notional end level</label>
            <input class="right" min="0" type="number" name="notionalEndLevel" placeholder="notionalEndLevel" value="@Model.NotionalEndLevel" />
        </div>

        <div>
            <label>Standard Pdf Url</label>
            <input type="text" class="right pdf-link" name="standardPdfUrl" value="@Model.StandardPdfUrl"/>
        </div>

        <div>
            <label>Assessment Plan Pdf Url</label>
            <input type="text" class="right pdf-link" name="assessmentPlanPdfUrl" value="@Model.AssessmentPlanPdfUrl" />
        </div>

        <div>
            <label>EntryRequirements</label>
            <div class="right">
                <textarea class="htmledit" name="entryrequirements">
                    @Html.Raw(@Model.EntryRequirements)
                </textarea>
            </div>
        </div>
        <div>
            <label>ProfessionalRegistration</label>
            <div class="right">
                <textarea class="htmledit right" name="professionalregistration">
                    @Html.Raw(@Model.ProfessionalRegistration)
                </textarea>
            </div>
        </div>
        <div>
            <label>WhatApprenticesWillLearn</label>
            <div class="right">
                <textarea class="htmledit" name="whatApprenticesWillLearn">
                    @Html.Raw(@Model.WhatApprenticesWillLearn)
                </textarea>
            </div>
        </div>
        <div>
            <label>Qualifications</label>
            <div class="right">
                <textarea class="htmledit" name="qualifications">
                    @Html.Raw(@Model.Qualifications)
                </textarea>
            </div>
        </div>
        <div>
            <label>OverviewOfRole</label>
            <div class="right">
            <textarea class="htmledit" name="overviewOfRole">
                @Html.Raw(@Model.OverviewOfRole)
            </textarea>
            </div>
        </div>
        <div>
            <label>SectorSubjectAreaTier1</label>
            <input class="right" min="0" type="number" name="sectorSubjectAreaTier1" placeholder="sectorSubjectAreaTier1" value="@Model.SectorSubjectAreaTier1">
        </div>
        <div>
            <label>SectorSubjectAreaTier2</label>
            <input class="right" min="0" type="number" name="sectorSubjectAreaTier2" placeholder="sectorSubjectAreaTier2" value="@Model.SectorSubjectAreaTier2"/>
        </div>
    </form>
</div>

@helper GetFrameworkProperty(string title, string id, string item, bool hideIfEmpty = false)
{
    if (!string.IsNullOrEmpty(item) || !hideIfEmpty)
    {
        <dt>@title</dt>
            <dd id="@id">
                @(!string.IsNullOrEmpty(item) ? Html.MarkdownToHtml(item) : Html.MarkdownToHtml("none"))
            </dd>
    }
}

@{
    Html.RenderPartial("Templates/_UpdateTemplates");
}