@using MongoDB.Bson
@using Sfa.Das.Sas.Core.Extensions
@model Sfa.Das.Sas.Core.Models.StandardMetaData

@{
    ViewBag.Title = "Edit " + Model.Title;
}

<h2>Edit @Model.Title </h2>

<div class="edit">
    <form action="/Apprenticeship/UpdateStandard" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="apprenticeshipId" value="@Model.ApprenticeshipId" />
        <div class="boxed">
            @GetFrameworkProperty("ApprenticeshipId", "apprenticeshipId", Model.ApprenticeshipId.ToString())
            <div>
                <label>Title</label>
                <input type="text" name="title" value="@Model.Title"/>
            </div>
        </div>

        <div class="boxed">
            <label>Typical length</label>
            <div>
                <label>From</label>
                <input type="text" name="typicalLength.From" value="@Model.TypicalLength.From"/>
            </div>
            <div>
                <label>To</label>
                <input type="text" name="typicalLength.To" value="@Model.TypicalLength.To"/>
            </div>
            <div>
                <label>Unit</label>
                <input type="text" name="typicalLength.Unit" value="@Model.TypicalLength.Unit"/>
            </div>
        </div>

        <div class="boxed">
            <label>Keywords</label>
            <input type="text" id="keyword-input" placeholder="add new keyword"/>
            <div id="keywords-container" data-json="@Model.Keywords.Where(m => !string.IsNullOrEmpty(m)).ToJson()">
            </div>
        </div>

        <div class="boxed">
            <label>Job Roles</label>
            <input type="text" id="jobrole" placeholder="job role"/>
            <div id="keywords-container" data-json="@Model.JobRoles.ToJson()">
            </div>
        </div>

        <div>
            <label>Notional end level</label>
            <textarea name="notionalEndLevel">@Model.NotionalEndLevel</textarea>
        </div>

        <div>
            <label>Standard Pdf Url</label>
            <textarea name="standardPdfUrl">@Model.StandardPdfUrl</textarea>
        </div>

        <div>
            <label>Assessment Plan Pdf Url</label>
            <textarea name="assessmentPlanPdfUrl">@Model.AssessmentPlanPdfUrl</textarea>
        </div>

        <div>
            <label>EntryRequirements</label>
            <textarea name="entryrequirements">@Model.EntryRequirements</textarea>
        </div>
        <div>
            <label>ProfessionalRegistration</label>
            <textarea name="professionalregistration">@Model.ProfessionalRegistration</textarea>
        </div>
        <div>
            <label>WhatApprenticesWillLearn</label>
            <textarea name="whatApprenticesWillLearn">@Model.WhatApprenticesWillLearn</textarea>
        </div>
        <div>
            <label>Qualifications</label>
            <textarea name="qualifications">@Model.Qualifications</textarea>
        </div>
        <div>
            <label>OverviewOfRole</label>
            <textarea name="overviewOfRole">@Model.OverviewOfRole</textarea>
        </div>
        <div>
            <label>SectorSubjectAreaTier1</label>
            <input type="number" name="sectorSubjectAreaTier1" placeholder="sectorSubjectAreaTier1" value="@Model.SectorSubjectAreaTier1">
        </div>
        <div>
            <label>SectorSubjectAreaTier2</label>
            <input type="number" name="sectorSubjectAreaTier2" placeholder="sectorSubjectAreaTier2" value="@Model.SectorSubjectAreaTier2"/>
        </div>

        <input type="submit" class="btn btn-primary btn-lg" value="Update"/>
    </form>
</div>

@helper GetFrameworkProperty(string title, string id, string item, bool hideIfEmpty = false)
{
    if (!string.IsNullOrEmpty(item) || !hideIfEmpty)
    {
        <dt>@title</dt>
            <dd id="@id">
                @(!string.IsNullOrEmpty(item) ? Html.MarkdownToHtml(item) : Html.MarkdownToHtml("none"))
            </dd>
    }
}

<script id="entry-template" type="text/x-handlebars-template">
    <div class="entry">
        <a href="#" class="delete" data-value="{{index}}">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
        <input type="hidden" name="keywords" value="{{keyword}}" />
        <span>{{keyword}}</span>
    </div>
</script>

<script id="jobrole-template" type="text/x-handlebars-template">
    <div class="entry">
        <a href="#" class="delete" data-value="{{index}}">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
        <input type="hidden" name="jobRoles" value="{{jobRole}}" />
        
        <span>{{jobRole}}</span>
        
    </div>
</script>