@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@model Sfa.Das.Sas.Shared.Components.ViewModels.Apprenticeship.ApprenticeshipBasketItemViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject ICssViewModel CssViewModel


    <h2><a asp-action="Details" asp-route-apprenticeshipId="@Model.Id"> @Model.Title </a></h2>
    
    <div>
        @if (Model.EffectiveTo.HasValue && Model.EffectiveTo.Value > DateTime.Today)
        {
            <div class="@CssViewModel.WarningText">
                <span class="@(CssViewModel.WarningText)__icon" aria-hidden="true"></span>
                <strong class="@(CssViewModel.WarningText)__text">
                    <span class="@(CssViewModel.WarningText)__assistive">Warning</span>
                    This apprenticeship is closed to new starters from @Model.EffectiveTo.Value.ToLongDateString()
                </strong>
            </div>
        }

        <dl class="@CssViewModel.List  das-search-result__details">
            <dt class="das-search-result__details-title">Level:</dt>
            <dd class="das-search-result__details-definition">@Model.Level (Equivalent to @Model.EquivalentText)</dd>
            <dt class="das-search-result__details-title">Typical length:</dt>
            <dd class="das-search-result__details-definition">@Model.Duration months</dd>
        </dl>
    </div>
    
    
    <div>
        @foreach (var trainingProviderSearchResultsItem in Model.TrainingProvider)
        {
    <partial name="_trainingProviderItem" for="@trainingProviderSearchResultsItem"/>
        }
    </div>
