@using Sfa.Eds.Das.Web.ViewModels
@model ProviderFrameworkSearchResultViewModel

    @foreach (var item in Model.Hits)
    {
        <article class="result">
            <header>
                <h2 class="result-title">
                    @Html.ActionLink(item.Name, "Detail", "Provider", new { @providerId = item.UkPrn, @locationId = item.LocationId, @frameworkId = item.FrameworkId }, null)
                </h2>
            </header>

            <dl class="result-data-list">
                @RenderProviderDetails(item)
                
                <dt>Employer satisfaction:</dt>
                <dd class="employer-satisfaction">
                    @item.EmployerSatisfactionMessage
                </dd>
                <dt>Learner satisfaction:</dt>
                <dd class="learner-satisfaction">
                    @item.LearnerSatisfactionMessage
                </dd>
            </dl>
        </article>
    }

@helper  RenderProviderDetails(FrameworkProviderResultItemViewModel item)
{
    <dt>Distance:</dt>
    <dd class="distance">@item.Distance miles away</dd>
if (item.DeliveryModes != null && item.DeliveryModes.Contains("100PercentEmployer") && item.DeliveryModes.Count == 1)
{
        <dd class="address">Training can take place at your location.</dd>
    }
    else
    {
        <dd class="address">@item.LocationName @item.Address.Address1 @item.Address.Address2 @item.Address.County @item.Address.Postcode</dd>
    }
}