@model Sfa.Eds.Das.Web.ViewModels.ProviderFrameworkSearchResultViewModel

<div>

    @if (Model.HasError)
    {
        @RenderErrorMessage()
    }
    else if (Model.TotalResults == 0)
    {
        @RenderZeroResult();
    }
    else if (Model.TotalResults == 1)
    {
        @RenderMessageOneResult()
    }
    else
    {
        @RenderMessage()
    }
</div>

@helper  RenderErrorMessage()
{
    <h2 class="heading-large">
        Training standards
    </h2>
    <p>
        There was a problem performing a search. Try again later.
    </p>
}

@helper RenderZeroResult()
{
    <h2 class="heading-large">
        Training providers
    </h2>
    <p>
        There are currently no providers for the apprenticeship course: '<b id="standard-name">@Model.PathwayName</b>' in '<b id="postalcode">@Model.PostCode</b>'
    </p>
}

@helper  RenderMessageOneResult()
{
    <h2 class="heading-large">
        Training providers
    </h2>
    <p>
        There is <b id="total-results">@Model.TotalResults</b> training provider for the apprenticeship course: '<b id="standard-name">@Model.PathwayName</b>'.
    </p>
    <p>
        Results are ordered by distance from '<b id="postalcode">@Model.PostCode</b>'
    </p>
}


@helper  RenderMessage()
{
    <h2 class="heading-large">
        Training providers
    </h2>
    <p>
        There are <b id="total-results">@Model.TotalResults</b> training providers for the apprenticeship course: '<b>@Model.PathwayName</b>'.
    </p>
    <p>
        Results are ordered by distance from '<b>@Model.PostCode</b>'
    </p>
}
