@using Sfa.Das.ApplicationServices.Models
@using Sfa.Eds.Das.Web.ViewModels
@model Sfa.Eds.Das.Web.ViewModels.ProviderSearchResultViewModel

<div>
    @foreach (var item in Model.Hits)
    {
        <li class="result">
            <div class="column details">
                <h2 class="heading-medium">
                    @Html.ActionLink(item.Name, "Detail", "Provider", new {@providerId = item.Id, @locationId = item.LocationId, @standardCode = item.StandardCode}, null)
                </h2>
                @if (item.DeliveryModes != null && item.DeliveryModes.Contains("100PercentEmployer"))
                {
                    @RenderEmployersLocationProviderDetails(item)
                }
                else
                {
                    @RenderProviderDetails(item)
                }
                
                <dt>Employer satisfaction:</dt>
                <dd>@item.EmployerSatisfaction %</dd>
                <dt>Learner satisfaction:</dt>
                <dd>@item.LearnerSatisfaction %</dd>
            </div>
        </li>
    }
</div>

@helper  RenderEmployersLocationProviderDetails(ProviderResultItemViewModel item)
{
    <dt>Distance:</dt>
    <dd>Training can take place at your location.</dd>
    <dt>Website:</dt>
    <dd><a class="link" href="@item.Website"> @item.Website</a></dd>
}

@helper  RenderProviderDetails(ProviderResultItemViewModel item)
{
    <dt>Distance:</dt>
    <dd>@item.Distance miles away</dd>
    <dd class="address">@item.LocationName @item.Address.Address1 @item.Address.Address2 @item.Address.County</dd>
    <dt>Website:</dt>
    <dd><a href="@item.Website"> @item.Website</a></dd>
}