@model Sfa.Eds.Das.Web.ViewModels.ProviderSearchResultViewModel

<div>

    @if (Model.HasError)
    {
        @RenderErrorMessage()
    }
    else if (Model.TotalResults == 0)
    {
        @RenderZeroResult();
    }
    else if (Model.TotalResults == 1)
    {
        @RenderMessageOneResult()
    }
    else
    {
        @RenderMessage()
    }
</div>

@helper  RenderErrorMessage()
{
    <h2 class="heading-large">
        Apprenticeship standards
    </h2>
    <p>
        There was a problem performing a search. Try again later.
    </p>
}

@helper RenderZeroResult()
{
    <h2 class="heading-large">
        Apprenticeship providers
    </h2>
    <p>
        There are no providers for '@Model.StandardName'
    </p>
}

@helper  RenderAllResult()
{
    <h2 class="heading-large">
        Apprenticeship providers
    </h2>
    <p>
        All apprenticeship providers.
    </p>
}

@helper  RenderMessageOneResult()
{
    <h2 class="heading-large">
        Apprenticeship providers
    </h2>
    <p>
        There is @Model.TotalResults provider found for order by nearest by distance.
    </p>
}


@helper  RenderMessage()
{
    <h2 class="heading-large">
        Apprenticeship providers
    </h2>
    <p>
        There are @Model.TotalResults providers found for order by nearest by distance.
    </p>
}
