@model Sfa.Eds.Das.Web.ViewModels.ProviderSearchResultViewModel

<div>

    @if (Model.HasError)
    {
        @RenderErrorMessage()
    }
    else if (Model.TotalResults == 0)
    {
        @RenderZeroResult();
    }
    else if (Model.TotalResults == 1)
    {
        @RenderMessageOneResult()
    }
    else
    {
        @RenderMessage()
    }
</div>

@helper  RenderErrorMessage()
{
    <h2 class="heading-large">
        Training standards
    </h2>
    <p>
        There was a problem performing a search. Try again later.
    </p>
}

@helper RenderZeroResult()
{
    <h2 class="heading-large">
        Training providers
    </h2>
    <p>
        There are currently no training providers for '@Model.StandardName'
    </p>
}

@helper  RenderMessageOneResult()
{
    <h2 class="heading-large">
        Training providers
    </h2>
    <p>
        There is @Model.TotalResults training provider found for '@Model.StandardName'.
    </p>
}


@helper  RenderMessage()
{
    <h2 class="heading-large">
        Training providers
    </h2>
    <p>
        There are @Model.TotalResults training providers found for '@Model.StandardName'.
    </p>
}
