@using Sfa.Eds.Das.Web.Extensions
@using Sfa.Eds.Das.Web.ViewModels
@model Sfa.Eds.Das.Web.ViewModels.ProviderViewModel

@{
    ViewBag.Title = "Provider - " + @Model.ProviderName;
}
<main id="content">

    @*<p class="small-btm-margin">
        @Html.RenderAIfExists(@Model.SearchResultLink?.Title, @Model.SearchResultLink?.Url, "link-back")
    </p>*@

    <div class="grid-row">

        <div class="column-two-thirds">
            <div class="hgroup">
                <h1 class="heading-xlarge">
                    <span class="heading-secondary">Apprenticeship standard and assessment plan</span>
                    @Model.ProviderName
                </h1>
                @GetStandardProperty("Website", @Model.Website)
                
            </div>
        </div>

        <div class="column-third">
            @using (Html.BeginForm("SearchResults", "Provider", FormMethod.Get, new { @class = "search-box" }))
            {
                <div class="related-container">
                    <aside class="related">
                        <h2 class="heading-medium">Provider quality assassment</h2>
                        <h3>Learner satisfaction: @Model.LearnerSatisfaction %</h3>
                        <h3>Employer satisfaction: @Model.EmployerSatisfaction %</h3>
                    </aside>
                </div>
            }
        </div>
    </div>

    <section>
        <header>
            <span>Apprenticeship details</span>
            <h2 class="heading-large">
                @Model.ProviderName
            </h2>
        </header>
        <dl class="data-list">
            @*@GetStandardProperty("Training location", Model.LocationName)*@
            @GetStandardProperty("Training details", @Model.StandardInfoUrl)
            @GetStandardProperty("Phone", Model.Phone)
            @GetStandardProperty("Email", Model.Email)
            @GetStandardProperty("Training structure", Model.DeliveryModes)
            @ShowTrainingLocation()
        </dl>
    </section>
</main>


@helper ShowTrainingLocation()
{
    if (@Model != null)
    {
        if (@Model.DeliveryModes.Count == 1 && @Model.DeliveryModes.Contains("100PercentEmployer"))
        {
            <dt>Training location</dt>
            <dd>Training will take place at your location</dd>
        }
        else
        {
            <dt>Training location</dt>
            <dd>@Model.VenueName @Model.Address.Address1 @Model.Address.Address2 </dd>
        }
    }
}


@helper GetStandardDetailItem(string title, string item, string unit = "")
{
    if (!string.IsNullOrEmpty(item))
    {
        <dt>@title</dt>
        <dd>@item @unit</dd>
    }
}


@helper GetStandardProperty(string title, string item, bool hideIfEmpty = false)
{
    if (!string.IsNullOrEmpty(item) || !hideIfEmpty)
    {
        <dt>@title</dt>
        <dd>@Html.Raw(item)</dd>
    }
}

@helper GetStandardProperty(string title, List<string> items, bool hideIfEmpty = false)
{
    if (items != null)
    {
        <dt>@title</dt>
        <dd>
        @foreach (var item in items)
        {
            switch (item)
            {
                case "100PercentEmployer":
                        @Html.Raw("at your location")
                        break;
                    case "blockRelease":
                        @Html.Raw("block release")
                        break;
                    case "dayRelease":
                        @Html.Raw("day release")
                        break;
                    default:
                        break;
            }
        }
        </dd>
    }
}

@helper GetDocumentItem(string pdfUrl, string title)
{
    if (!string.IsNullOrEmpty(title))
    {
        <li>
            <a href="@pdfUrl">
                @title
            </a>
            <p>
                PDF, 268KB, 2 pages
            </p>
        </li>
    }
}