@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Sfa.Das.Sas.Shared.Components.ViewModels.Css.Interfaces
@using  Sfa.Das.Sas.Shared.Components.ViewComponents.TrainingProvider.Search;
@model Sfa.Das.Sas.Shared.Components.ViewModels.SearchResultsViewModel<Sfa.Das.Sas.Shared.Components.ViewComponents.Fat.TrainingProviderSearchResultsItem, TrainingProviderSearchViewModel>
@inject ICssViewModel CssViewModel


@if (!ViewData.ModelState.IsValid)
{
    @await Component.InvokeAsync("TrainingProviderSearch", new { apprenticeshipId = Model.SearchQuery.ApprenticeshipId })
}

@if (Model.TotalResults > 0)
{
    <p>There are @Model.TotalResults Training providers for '@Model.SearchQuery.Postcode'.</p>
    <form asp-controller="Basket" asp-action="AddProviderFromDetails" method="post">
        <input type="hidden" asp-for="@Model.SearchQuery.ApprenticeshipId" />
        <input type="hidden" asp-for="@Model.SearchQuery.IsLevyPayer" />
        <input type="hidden" asp-for="@Model.SearchQuery.Keywords" />
        <input type="hidden" asp-for="@Model.SearchQuery.Page" />
        <input type="hidden" asp-for="@Model.SearchQuery.Postcode" />
        <input type="hidden" asp-for="@Model.SearchQuery.SelectedLevels" />
        <input type="hidden" asp-for="@Model.SearchQuery.SortOrder" />
        <input type="hidden" asp-for="@Model.SearchQuery.ResultsToTake" />
        <ol class="@CssViewModel.SearchList">
            @foreach (var result in Model.SearchResults)
            {
                var itemModel = Tuple.Create(result, Model.SearchQuery);
                <partial name="Components/TrainingProvider/SearchResults/_searchResultsItem" for="@itemModel" />
            }
        </ol>
    </form>
}
else
{
    <p>Sorry, there is currently no training providers for '<span class="@CssViewModel.UtilitiesCss.FontWeightBold">@Model.SearchQuery.Postcode</span>'.</p>

    <h3 class="@CssViewModel.HeadingSmall">Try a different postcode</h3>
}

@if (Model.TotalResults > (Model.SearchQuery.ResultsToTake * Model.SearchQuery.Page))
{

    <ul class="das-pagination das-pagination--employer">

        <li class="das-pagination__list-item">
            @if (Model.SearchQuery.Page > 1)
            {
                <a class="das-pagination__link das-pagination__link--previous" id="link-pagination-previous" href="@await GetPaginationBackLinkHref(Model.SearchQuery.Page, Model.SearchQuery)">Previous page <span class="das-pagination__caption">@(Model.SearchQuery.Page - 1) of @Model.LastPage</span></a>
            }
        </li>


        @if (Model.SearchQuery.Page < Model.LastPage)
        {
            <li class="das-pagination__list-item">
                <a class="das-pagination__link das-pagination__link--next" id="link-pagination-apprentice-next" href="@await GetPaginationNextLinkHref(Model.SearchQuery.Page,Model.SearchQuery)">Next page <span class="das-pagination__caption">@(Model.SearchQuery.Page + 1) of @Model.LastPage</span></a>
            </li>
        }

    </ul>
}


@functions
{

    Task<string> GetPaginationBackLinkHref(int currentPage, TrainingProviderSearchViewModel item)
    {
        var path = this.ViewContext.HttpContext.Request.Path;

        var href = $"{path}?Postcode={item.Postcode}&Page={currentPage - 1}&ApprenticeshipId={item.ApprenticeshipId}&IsLevyPayer={item.IsLevyPayer}";
        return Task.FromResult(href);
    }

    Task<string> GetPaginationNextLinkHref(int currentPage, TrainingProviderSearchViewModel item)
    {
        var path = this.ViewContext.HttpContext.Request.Path;

        var href = $"{path}?Postcode={item.Postcode}&Page={currentPage + 1}&ApprenticeshipId={item.ApprenticeshipId}&IsLevyPayer={item.IsLevyPayer}";
        return Task.FromResult(href);
    }

}