@model Sfa.Eds.Das.Web.ViewModels.StandardSearchResultViewModel

<div>

    @if (Model.HasError)
    {
        @RenderErrorMessage()
    }
    else if (Model.TotalResults == 0)
    {
        @RenderZeroResult();
    }
    else if (string.IsNullOrEmpty(Model.SearchTerm) || Model.SearchTerm == "*")
    {
        @RenderAllResult()
    }
    else
    {
        @RenderMessage()
    }
</div>

@helper  RenderErrorMessage()
{
    <p class="strong">
        There was a problem performing a search. Try again later.
    </p>
}

@helper RenderZeroResult()
{
    <p class="strong">
        There are currently no apprenticeships that match your search.
    </p>
}

@helper  RenderAllResult()
{
    <h2 class="heading-large">
        Apprenticeship standards
    </h2>
    <p>
        All apprenticeship standards.
    </p>
}

@helper  RenderMessage()
{
    <h2 class="heading-large">
        Apprenticeship standards
    </h2>
    <p>
        There are @Model.TotalResults apprenticeship pathways matching your search for "@Model.SearchTerm".
    </p>
}

